[2017-09-01 02:27] mclinn commented on #233
Thanks @jenlampton!

[2017-09-01 04:07] jenlampton commented on #233
@mclinn the recommended fix is to delete the release notes and add them back again, to see if that kick-starts the packager.

[2017-09-02 13:48] mclinn commented on #233
OK, I deleted the release entirely, then redid it.  Wow, that was quick!  I just reloaded the page and it has already added the "download" link.  It's now on backdropcms.org as well.  Great suggestion, thanks!

[2017-09-03 19:22] quicksketch commented on #233
I checked the GitHub webhook log and it doesn't look like the webhook on GitHub fired at all, so the packager on backdropcms.org never was notified the release exists. @mclinn Could you try deleting [the release](https://github.com/backdrop-contrib/twilio/releases/tag/1.x-1.11.0) (you can leave the tag itself) and then make it again?

[2017-09-03 19:23] quicksketch commented on #233
Oh, haha. Cross-post! Yay that's great that it worked this time around. I'm not sure what caused it, other than apparently a failure on GitHub's side. Thanks @jenlampton and @mclinn!

[2017-09-03 19:23] #233 closed

[2017-09-04 00:36] mclinn commented on #233
I think the old gag is "Jinx, owe you a Coke" or some such, @quicksketch!  But it worked like a charm, second try was the charm in my case.  Now I'll be more confident than ever for my next one!

[2017-09-08 00:43] BWPanda commented on #190
I'm in the process of transferring a module to backdrop-contrib, and Github's asking me about team access:

I'll try to work out what to do here, but might be good to add this to the proposed steps...

[2017-09-08 00:49] jenlampton commented on #190
That's a great point @BWPanda, please let us know if you need help figuring out what to do!

[2017-09-08 01:05] BWPanda commented on #190
I just ticked both options ('authors' and 'security' IIRC). Still trying to figure out how to change from 'master' branch to '1.x-1.x' and then make a release...

[2017-09-08 01:15] BWPanda opened #234 "Request admin access to Featherlight module"
I just transferred ownership of my newly-created Featherlight module to backdrop-contrib: https://github.com/backdrop-contrib/featherlight

However I seem to have lost the ability to administer it... I need to access the Settings for that repository to change the default branch from 'master' to '1.x-1.x', but there's no Settings option in Github on that page for me.

I've previously written and tr

[2017-09-08 01:19] BWPanda commented on #234
While you're at it, can someone point me to the instructions on how to change the branch from master to 1.x-1.x? I was able to create a new branch on my server, but it doesn't seem to have been pushed to Github...

[2017-09-08 02:45] BWPanda commented on #227
Putting this port on hold in the hopes this feature can get into core instead (see linked issue above).

[2017-09-08 02:58] jenlampton commented on #190
The default branch is under "Settings".
<img width="1026" alt="screen shot 2017-09-07 at 7 58 14 pm" src="https://user-images.githubusercontent.com/397895/30194258-ed6ac0cc-9406-11e7-818d-bc53bf19c4e3.png">

[2017-09-08 03:15] jenlampton commented on #234
I've restored your admin access.  You are not the first one who has fallen into that trap..  We should document better so that doesn't happen to the next person as well.

The default branch is under "Settings".
<img width="1026" alt="screen shot 2017-09-07 at 7 58 14 pm" src="https://user-images.githubusercontent.com/397895/30194258-ed6ac0cc-9406-11e7-818d-bc53bf19c4e3.png">

[2017-09-08 03:26] quicksketch commented on #227
I took a look at the port and it looks like it should be fairly straight-forward. It looks like it still has some calls to legacy `drupal_*` functions, but generally its coming along well!

I think we still have some issues to be resolved, especially how time has changed how we handle images. There are some useful patches on Drupal.org (e.g. https://www.drupal.org/node/2346923) but even then, thin

[2017-09-08 03:27] jenlampton commented on #190
Re-opening since we need more updates :)

[2017-09-08 03:34] BWPanda commented on #234
@jenlampton Thanks so much!

[2017-09-08 03:34] #234 closed

[2017-09-08 03:35] BWPanda commented on #190
@jenlampton I never saw an option to add myself as an admin... And I can't create a screenshot without transferring another repository over.

[2017-09-08 04:39] jenlampton commented on #190
It's a blank "Collaborators" text field at the very bottom of the page, but when you type into it it autocompletes. Not very intuitive...  Maybe this would make a good video? I'll give that a shot :)

[2017-09-11 01:07] BWPanda commented on #190
Here's what I see when I transfer a repository:

![screenshot-2017-9-11 bwpanda dummy](https://user-images.githubusercontent.com/2385329/30254853-5d783962-96e1-11e7-823b-e04ed254d64e.png)

No option to select myself as an admin...

Please now delete that repo: https://github.com/backdrop-contrib/dummy

[2017-09-11 21:14] jenlampton commented on #190
Not in this section, as this is for "Teams".  The "Collaborators" section should be immediately below.

One thing to note is that you are a member of the "Authors" team so by transferring a project from yourself to Authors you are not necessarily removing your own access - as long as you grant Authors "Admin" privileges when you transfer.

[2017-09-11 22:33] laryn opened #236 "Intend to port: Scheduler"
Drupal module:
https://www.drupal.org/project/scheduler

In process here:
https://github.com/laryn/scheduler

[2017-09-11 23:29] BWPanda commented on #190
Here is the entire process that I see. Hope this helps explain things...

![peek 2017-09-12 09-26](https://user-images.githubusercontent.com/2385329/30301218-c6c57036-979c-11e7-8b37-4e9e95778dcd.gif)

Can delete this again, thanks: https://github.com/backdrop-contrib/dummy2

[2017-09-12 00:06] jenlampton commented on #190
Sigh, yes, this is a problem :(

We have a bot that @Gormartsen has been working on that is supposed to "fix" all the permissions on transferred repositories, but AFAIK that hasn't been set up yet.

Until that starts working feel free to open an issue in this queue for any project you need to have fixed. (And maybe we should add that to our new-maintainer notes as well, until we get the bot going.

[2017-09-12 00:21] BWPanda commented on #190
Ok, good to know what the issue is. I'll make a PR with updated instructions then.

[2017-09-12 00:27] jenlampton commented on #190
I'm not sure we've sorted out the issue yet, but we do at least know it's a problem and are planning on fixing it using the GitHub API, since apparently the UI can't handle it. :(

I did make one change to the group settings after watching this video, but I can't test it since I'm the organization owner... hm. Maybe I can test it as the GitHub bot? ...

[2017-09-12 00:30] BWPanda commented on #190
If you need me to try transferring again to test anything, let me know.

[2017-09-12 00:32] jenlampton commented on #190
ooh! that worked for dragonbot!  Can you try it again?

[2017-09-12 00:39] BWPanda commented on #190
That worked! Same as last time (see above video), but this time the Settings option was available once I visited the transferred repo. I was listed as an admin, however Authors and Security only had Read access (had to manually change to Admin and Write respectively).

[2017-09-12 00:41] jenlampton commented on #190
Well, one step in the right direction :) I'm not sure how to set the intial access level for the teams... I looked all over and couldn't find anything. Maybe we'll need the bot for that.

[2017-09-12 01:43] BWPanda commented on #190
Looks like these still need deleting:
https://github.com/backdrop-contrib/dummy3
https://github.com/backdrop-contrib/egg

[2017-09-12 04:21] jenlampton commented on #190
deleted, thanks! :)

[2017-10-05 07:21] opi opened #238 "Port of Geolocation field"
Drupal module: https://www.drupal.org/project/geolocation

Drupal issue: https://www.drupal.org/node/2914022

Work in progress: https://github.com/opi/geolocation

[2017-10-05 08:06] opi commented on #238
( from https://api.backdropcms.org/converting-modules-from-drupal )

So please consider this as an application to join the Backdrop Contrib group <3

[2017-10-05 09:34] opi commented on #125
Note that I ported the simple *geolocation field* module : https://github.com/opi/geolocation
Related issues:
- https://github.com/backdrop-ops/contrib/issues/238
- https://www.drupal.org/node/2914022

[2017-10-06 05:54] BWPanda commented on #223
In my opinion, the only one worth looking at using is freezeframe.js, as the other two require additional HTML markup. freezeframe.js seems to allow regular, simple markup and does its magic with that.

I'm looking at using this on a site so may be able to do this soon.

[2017-10-09 05:44] BWPanda commented on #223
Here you go: https://github.com/backdrop-contrib/freezeframe

Seems to be working well for me, though I do want to add an overlay button, like this: https://github.com/ctrl-freaks/freezeframe.js/issues/27
Might try and work on something custom for the Backdrop module until that PR is committed to the freezeframe.js script.

[2017-10-09 07:56] docwilmot commented on #223
@BWPanda the notation for which images to animate (`img[src$=".gif"]`) is a bit advanced (I dont know what it means TBH). So suggestion:
- add a "Animate all gifs" checkbox on the settings page, which hides the textarea with states
- if the above is unchecked, then in the textarea allow simple class or id selectors, like `.my-class` or `#my-id`

Also, have you had any thoughts on how users get new

[2017-10-09 20:14] opi opened #239 "Port of taxonomy_field_formatter"
Drupal module: https://www.drupal.org/project/taxonomy_field_formatter

Drupal issue: https://www.drupal.org/node/2915005

Work in progress: https://github.com/opi/taxonomy_field_formatter

[2017-10-09 20:15] opi commented on #239
*My maintainer application is already done in https://github.com/backdrop-ops/contrib/issues/238#issuecomment-334390169*

[2017-10-09 22:20] BWPanda commented on #223
Good idea, will do.

No, but I think that's out-of-scope for this module. That should either be a separate contrib module, or else added to core.

I purposefully chose Freezeframe over Gifffer and GifPlayer as those other two require additional HTML markup to work (e.g. "Specify a ‘data-src’ attribute..." (from https://github.com/rubentd/gifplayer#gifplayer)). Freezeframe isn't perfect, but I'll s

[2017-10-09 23:13] BWPanda commented on #223
@docwilmot I've just made two commits that address the 'All' checkbox request and the transparent GIF issue. They are, respectively:

https://github.com/backdrop-contrib/freezeframe/commit/e2f5fafa191eed09d2337c6ef0a26a77a897585f
https://github.com/backdrop-contrib/freezeframe/commit/a2c7f14feb915c6d11b939b39ddb27236fda9c4d

[2017-10-10 00:11] BWPanda commented on #223
I've also made the pointer display as a cursor when hovering over GIFs (so you know to click on them (couldn't work out how to do the overlay thing after all)), and made GIFs responsive by default.

[2017-10-10 10:12] docwilmot commented on #223
Tested and much better! Still few small issues:
- I get this JS error on every page load: `✨ freezeframe.js ✨ : no images found for selector img[src$=".gif"], img[src$=".GIF"]`
- When the GIF plays for the set duration, it fades out rather than just stopping. Not a big deal, but I didnt expect it and so it stood out to me.
- With the new 'all' checkbox, you shouldnt need the default text in the te

[2017-10-11 20:48] BWPanda commented on #223
I'll look into that.

I believe that's part of the fix for the transparent GIF issue. See here: https://github.com/ctrl-freaks/freezeframe.js/pull/26

You may need to uninstall and re-install the module to see that I've removed that with the new 'All' checkbox. Probably that default was still saved in your active config directory from before the update where this was removed.

[2017-10-11 21:01] BWPanda commented on #223
I just pushed a commit that fixes the JS error. Please test: https://github.com/backdrop-contrib/freezeframe/commit/567f41499348e4dd8ce64c16dd6f6052c57cc0c7

[2017-10-11 23:05] docwilmot commented on #223
great, that fixes it.
could something like this work for an overlay?:
[code]
[code]

[2017-10-12 20:33] jenlampton commented on #239
Nice work! :)

[2017-10-13 03:56] BWPanda commented on #223
Yes! Awesome, thanks!

Here's an initial commit inspired by your code: https://github.com/backdrop-contrib/freezeframe/commit/2f2105d311e41a3d5b06479c1b4c745c8eec745a
I had to change it around a bit to try and get it working when you start the animation (hiding the overlay) and then click the GIF again to stop the animation (showing the overlay again). Also to show the overlay after the duration o

[2017-10-26 19:43] jenlampton commented on #211
It looks like @jacksinn is in, can we close this issue? (If it needs to stay open, please feel free to re-open again!)

[2017-10-26 19:43] #211 closed

[2017-10-26 19:44] jenlampton commented on #238
Since I think @klonos is pretty busy these days, I'd like to take over and get you into the contrib group :)

New project checklist
---------------------

All projects must meet these minimum requirements.

- [x] Include a LICENSE.txt file that indicates the code is GPL v2. You can use
[this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/master/examples/LICENSE.txt).
- [x] Include a

[2017-10-30 17:41] jenlampton commented on #238
👍 Fantastic, thank you :) I have sent you an invitation to join the contrib group. Once you have it, you should be able to transfer any projects you would like into the group.

You might try to add yourself as a contributor (with admin rights) before you transfer, so that you can retain admin access after the transfer. If that doesn't work, please let us know and we can fix the access for you afte

[2017-10-30 17:42] #238 closed

[2017-10-31 10:16] opi commented on #238
Done https://github.com/backdrop-contrib/geolocation

[2017-11-02 21:31] bjoern-st opened #240 "Port of DP 6 Wordpress Import Module"
I nedded it, so I did.
I've ported the Wordpress Import Module from
https://www.drupal.org/project/wordpress_import

Issue under:
https://www.drupal.org/node/2920635

It is already working for me - I've ported my Wordpress site successfully to Backdrop, but the module needs review. So it might be a very good Idea to join the  Backdrop Contributed Project Group - so this is my official request.
You

[2017-11-02 22:55] bjoern-st opened #241 "Simple Piwik Block"
I've created a simple but configurable Block for adding Piwik tracking code on a site.
Just place that block on the layouts you want to track, enter your Piwik URL and siteID, choose the entity types and the taxonomies you want to track and thats it.

Ongoing work found here
https://github.com/bjoern-st/simple_piwik_block

Cheers Bjoern

[2017-11-09 20:55] jenlampton commented on #241
Thanks @bjoern-st, this will be an excellent addition :) Are you interested in adding this project to the backdrop-contrib group?

[2017-11-09 21:21] jenlampton commented on #239
I see this module is available for use now, so I'm going to close this issue :)

[2017-11-09 21:21] #239 closed

[2017-11-09 21:34] jenlampton commented on #240
Wow, thanks @bjoern-st, this looks fantastic! We have been discussing adding a feature like the wordpress_import module to Backdrop core, and this might be a great place for us to start! :) I really appreciate your hard work on this and your willingness to contribute back :)

Fantastic! Let me just do a few checks....

New project checklist
---------------------

All projects must meet these minim

[2017-11-10 22:32] bjoern-st commented on #240
Hey @jenlampton ,

ah, yes, you're right. I missed to branch the original code . As I started this project it was just for me - so I just downloaded the compressed repo. It took a while for the awareness, that it might be useful in general. Shame on me -- I'll try to fix fix :-)

Concerning to https://github.com/backdrop-ops/contrib/blob/master/README.md

I agree ! :-)

Cheers Bjoern

[2017-11-10 22:44] bjoern-st commented on #241
Hey @jenlampton

If you think it is useful I would of course like to share this module to the contrib group.

And for the name .. let me keep as it is .. it is named as what it is. And the place is left for for the port of the complete piwik module ;-)

And just in case you ask for the agreement shown here: https://github.com/backdrop-ops/contrib/blob/master/README.md

I agree !

Cheers Bjoern

[2017-11-10 23:14] jenlampton commented on #240
Fantastic, thanks @bjoern-st.  Please add a comment here when you have the Git history restored, and I'll be happy to add you to the contrib-group! :)

[2017-11-10 23:53] bjoern-st opened #242 "Enhance multilingual menus"
Hey
I've developed two modules to make menu items more usable for multilingual sites.

The first one adds the ability to add a language to a menu item / menu link - see
https://github.com/bjoern-st/language_menu_item

The other module will simply add an additional row with the language for the menu item / menu link item in the menu overview form - see
https://github.com/bjoern-st/menu_overview_enh

[2017-11-10 23:55] bjoern-st commented on #240
@jenlampton avec plaisir :-)

[2017-11-11 19:33] bjoern-st commented on #240
Hey @jenlampton

I restored the git history of the master branch, but that was not that efficient as expected.

[2017-11-13 19:58] jenlampton commented on #240
Looks great! Thanks @bjoern-st :) I've sent you an invitation to join the contrib group.

Please to use this issue if you need help transferring the repository over to the group (sometimes admin permissions are lost in the transfer - I'll be available to restore them to you afterward if that happens)

[2017-11-13 19:58] #240 closed

[2017-11-15 00:31] klonos commented on #238
Yeah, I am too scared to eve look at the list of unread Github notifications :( ...sorry for not being around much lately guys.

[2017-11-16 23:02] olafgrabienski commented on #242
@bjoern-st I just saw that the "other module" points to the same page as the "first one".

[2017-11-16 23:16] bjoern-st opened #243 "Intend to port the drupal module patchinfo"
Im going to port the Module Patchinfo to Backdrop.
I think it is very useful for all developers and / or operators working with backddrop before updating.
It is a still growing project, so it might be useful.
Please see https://www.drupal.org/project/patchinfo for more information.

Issue: https://www.drupal.org/project/patchinfo/issues/2924180

Ongoing work: https://github.com/bjoern-st/patchinfo

[2017-11-17 21:30] bjoern-st commented on #242
@olafgrabienski Thank you .. I've fixed that.

[2017-11-17 22:49] docwilmot commented on #242
@bjoern-st sorry but I didnt understand what is your request in your first post.

[2017-11-19 23:13] Renz21 opened #244 "Port of Image_field_captions"
Hello, I have a D7 site that relies heavily on the use of captions on the image field of a custom content type. I would like to be able to upgrade to backdrop and bring in my images with these captions, but see that there is no option for captions on images fields in backdrop, just on the inline images in the wysiwyg editor.

[2017-11-20 14:47] bjoern-st commented on #242
Hello @docwilmot

I came across that while porting the wordpress_import module, because I added an option to import a multilingual Wordpress site.

I think, the usual way in backdrop would be to create one menu for each language, add them all to your layout(s) and set the visibility of each block to one language.

I tried a different way:
You can give menu items a language like you can do for node

[2017-11-30 18:46] jenlampton commented on #243
Thanks for your work on this module @bjoern-st! :)

[2017-12-01 23:38] bjoern-st commented on #243
@jenlampton You are very welcome . I needed it and so I had to port it. And it has been developed by some colleagues of mine .. so it is by default a great module :-)

[2017-12-11 09:22] opi opened #245 "Port of blockreference module"
I have started porting [Drupal's BlockReference](https://www.drupal.org/project/blockreference) module to Backdrop.
Upstream issue here: https://www.drupal.org/project/blockreference/issues/2929848
Repository here: https://github.com/backdrop-contrib/blockreference

[2017-12-17 16:08] kleomash opened #246 "Requesting access to contrib (and port of filefield_paths module)"
Hello!
 I've started port my sites from drupal to backdropcms. For now I found and fixed one bug in entityrefernce project ported to backdropcms.

I'd like access to backdrop-ops/contrib to join to the team sicnse I plan fully move from drupal to backdrop and interesting to port modules I need.

[2017-12-21 07:00] deaddred opened #247 "Easy Breadcrumb Port"
Looking for someone to port https://www.drupal.org/project/easy_breadcrumb I could throw in some $$ to get it done quicker.

edit: here's the [maintainer notification on d.o](https://www.drupal.org/project/easy_breadcrumb/issues/2938397)

[2017-12-21 20:38] jenlampton commented on #246
Hello @kleomash and welcome to Backdrop!
We'd love to have you be a part of the contrib group :)

If you have ported a module, theme, or layout (or started to) we would like to see your work on that project before we admit you as a maintainer for contrib. You can post a link here to your personal GitHub repo for a quick review.

If you have not started to port modules, themes, or layouts yet, or h

[2017-12-21 20:39] jenlampton commented on #247
@deaddred I'd be willing to take on this port for you. What's your timeline? When do you need it done?

[2017-12-22 03:34] deaddred commented on #247
I can wait for after the holidays as I still have to add content to the site so the breadcrumbs as not that important atm.

[2017-12-22 19:58] jenlampton commented on #247
okay, I'll take a closer look this weekend and see how much work is involved. Did you have a budget in mind?

[2017-12-22 20:38] deaddred commented on #247
No budget set but you can let me know how much you think it would cost if its ok I'll pay it if not might haggle a little lol.

[2017-12-31 04:43] deaddred opened #248 "TVI module port"
Looking for someone to take a stab at porting the TVI module https://www.drupal.org/project/tvi I can spend a little on this to get it started/done.

[2018-01-01 22:13] jerry-hudgins opened #249 "Requesting contrib access; porting Token Filter"
I've ported Drupal's Token Filter module to Backdrop.

Upstream issue: https://www.drupal.org/project/token_filter/issues/2928473
Port repository: https://github.com/jerry-hudgins/token_filter

I agree to the terms of the Backdrop Contributed Project Agreement.

[2018-01-04 20:59] jenlampton commented on #249
Hi @jerry-hudgins! Thanks for your work on porting Token Filter, and welcome to Backdrop contrib! Let's see here...

New project checklist
---------------------

- [x] Include a LICENSE.txt file that indicates the code is GPL v2. You can use
[this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/master/examples/LICENSE.txt).
- [x] Include a README.md file that includes license and main

[2018-01-04 21:07] jerry-hudgins commented on #249
Thanks for the response, @jenlampton. However, I believe that I did maintain the Drupal commit history; I see it [here](https://github.com/jerry-hudgins/token_filter/commits/1.x-1.x). I followed the process provided by [David Rothstein's video](https://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-part-2) to do so. Granted, the history is brief.

[2018-01-05 00:13] jenlampton commented on #249
Thanks @jerry-hudgins, I must be going crazy today. Maybe the briefness was throwing me off?  I've ticked the box and granted you access to contrib :)

[2018-01-05 01:29] jerry-hudgins commented on #249
Everything looks good, at least after I added the "type" specifier to the .info file. Thanks for your help!

[2018-01-05 01:29] #249 closed

[2018-01-05 01:34] jenlampton commented on #249
My pleasure! :)

[2018-01-17 12:06] kleomash commented on #246
Hello @jenlampton!

Just now I've ported filefield_paths module. It seems working, but not fully tested yet. For now I'm starting using it at my new site building on backdrop.

You can check my work at https://github.com/kleomash/filefield_paths

[2018-01-17 19:36] jenlampton commented on #246
Great!  Thanks for sharing :)

New project checklist
---------------------

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2. You can use
[this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/master/examples/LICENSE.txt).
- [ ] Include a README.md file that includes license and maintainer information.
You can use [this example](https://raw.githubusercontent.com/backd

[2018-01-18 04:50] deaddred commented on #247
Hi Jen

Can you let me know when you can start and what you would charge?

[2018-01-18 15:21] kleomash commented on #246
Hi, @jenlampton !

I've checked and fixed your notes except of next:

1. Tests is not ported for now. I need help what to find and replace.
2. I did not fix configuration name as I want to specify if group should be `Configuration` or `configuration`?
3. I did not fix hoot flefield_path_form_alter(). I agree we should add checking if we need form alter at top, but for now do now know how. This is

[2018-01-18 19:56] jenlampton commented on #246
Thanks @kleomash!  Yes, it's enough to say `Yes, I agree` right here, so thank you, and also thank you for addressing all those other issues as well.  Our checklist is looking great!

- [x] Include a LICENSE.txt file that indicates the code is GPL v2. You can use [this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/master/examples/LICENSE.txt).
- [x] Include a README.md file that inc

[2018-01-19 08:24] jenlampton commented on #247
Yes, sorry for the delay. I'm hoping to have some time for it this weekend! How about I port the module, tell you what it would cost at a 50% yay-you're-supporting-backdrop discount, and then you can pay me whatever seems fair?

[2018-01-20 04:04] deaddred commented on #247
Sure :)

[2018-01-23 01:59] jenlampton commented on #247
Voila! https://github.com/backdrop-contrib/easy_breadcrumb

Do you want to give it a test and let me know if it's working as expected for you?  If so, I'll make an official release!

[2018-01-25 04:07] BWPanda commented on #190
Any thoughts on my PR above?

[2018-01-26 22:26] jenlampton commented on #190
Merged!

[2018-01-29 03:29] BWPanda opened #250 "PACKAGING_ERROR_LOG.txt"
Please tell me what I did wrong: https://github.com/backdrop-contrib/auto_menu_settings/releases/tag/1.x-1.0.0-beta.1

I followed https://semver.org/ in adding/formatting the 'beta' tag, and marked it as a 'pre-release' in Github, so not sure why I got an error...

[2018-02-01 21:41] jenlampton commented on #250
In the `PACKAGING_ERROR_LOG.txt` file it says: `The version string "1.x-1.0.0-beta.1" does not match the required format of the "project_release" node type.`

I think the tag needs to be 1.x-1.0.0-beta1, though we really *should* support numbering from https://semver.org.  @quicksketch can you confirm that the final period is what's causing the problem?

[2018-02-01 22:00] BWPanda commented on #250
@jenlampton That appears to have worked, thanks! https://github.com/backdrop-contrib/auto_menu_settings/releases/tag/1.x-1.0.0-beta1

Yes, be good to properly support semver.org numbering/versioning.

[2018-02-03 03:25] deaddred commented on #247
Hi Didn't forget just was busy I'll be free Sunday so will test it out and send the funds over.

[2018-02-03 15:42] jenlampton commented on #247
Sounds great! Let me know how it goes.

On Feb 2, 2018 7:25 PM, "deaddred" <notifications@github.com> wrote:

Hi Didn't forget just was busy I'll be free Sunday so will test it out and
send the funds over.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/backdrop-ops/contrib/issues/247#issuecomment-362774269>,
or mute the thread
<

[2018-02-04 00:28] jenlampton commented on #250
Created https://github.com/backdrop-ops/backdropcms.org/issues/443, closing

[2018-02-04 00:28] #250 closed

[2018-02-05 21:29] deaddred commented on #247
Ok so far seems to work. A few bugs listed below. Also do you have a non paypal payment method or are you able to send me an invoice  from Paypal as I don't have an account.

Show breadcrumb separator after the final breadcrumb. This seems reveresd as you have to select this in order to hide the separator after the final breadcrumb
and
Grammar/spelling in this "Include the a link to the home page

[2018-02-05 21:47] jenlampton commented on #247
I've moved the issues you noted into the issue queue: https://github.com/backdrop-contrib/easy_breadcrumb/issues

Do you have Venmo? https://venmo.com/jenlampton  If not I can send you an invoice, but I'll need your email address.

[2018-02-05 22:22] deaddred commented on #247
Ok Venmo is not available in Canada. I send you a msg from your site.

[2018-02-06 06:45] deaddred commented on #247
Hey did you get my message from your site?

[2018-02-07 06:57] jenlampton commented on #247
No! Hm, I'll need to check on that site's ability to send mail... Can you try this one?  (I tested it, I know this one works :)

[2018-02-08 00:50] jenlampton opened #251 "Intent to port CDN module"
I will probably be porting CDN module for use with BunnyCDN. Here's the issue in the Drupal queue:
https://www.drupal.org/project/cdn/issues/2943092

[2018-02-18 21:34] bizmarkdev opened #252 "Application to contributor community"
I request joining the contributor community for Backdrop.

My first project is a port of the [Drupal 7 Real Name module](https://www.drupal.org/project/realname). [The repository for this port is here](https://github.com/bizmarkdev/backdrop-realname).

I agree to all items in the Backdrop Contributed Project Agreement.

Thanks for all you do.

[2018-02-20 20:39] jenlampton commented on #247
Oh no! I hope you feel better soon. No rush on my end!

On Feb 15, 2018 3:21 PM, "deaddred" <notifications@github.com> wrote:

[2018-02-23 00:43] bizmarkdev commented on #252
Hi Jen -

I've got my github repository updated with what was missing: added
README.md, remove hook_help(), clean-up whitespace and code format in
realname.module. I think it's ready:
https://github.com/bizmarkdev/backdrop-realname  Let me know if more needs
to be done.

A few things:

I'm happy to list myself as the maintainer for this, but I don't know how
much I'll be able to troubleshoot code

[2018-02-23 01:03] bizmarkdev commented on #252
Well, it didn't take long to find my first snag ... I missed the files in
the test subdirectory...
class RealnameEntityTest extends DrupalWebTestCase

I'll work on this early next week.

Mark

-------------------------------------
Mark Hicks, MSTC
512-923-1031
http://www.linkedin.com/in/markhicks

On Thu, Feb 22, 2018 at 6:43 PM, Mark Hicks <mhicks@bizmark.com> wrote:

[2018-02-24 18:41] jenlampton commented on #252
Fantastic, that was all that was needed!  I've sent you an invite to join the contirb group.  Welcome!

That's fine, the only reason we *require* a maintainer is so that we have someone to contact if there is a security issue. All other problems can be posted in the public queue and worked on collaboratively. You don't need to be responsible for fixing anything (though that's nice) you'll only nee

[2018-02-25 21:49] bjoern-st opened #253 "Intent to port module profile2_regpath to backdrop"
With this module you can give each profile created with the profile module an individual regestration path with the ability to preselect registration fields an user role.

Issue on drupal:
https://www.drupal.org/project/profile2_regpath/issues/2947783

Ongoing work found here:
https://github.com/bjoern-st/profile_regpath

[2018-02-26 20:13] deaddred commented on #247
Hi

I just send you a message on your contact form.

Arek

[2018-02-26 20:42] jenlampton commented on #247
I got it, thanks :)  I'm going to close this issue, and will create an official release shortly!

[2018-02-26 20:42] #247 closed

[2018-03-03 15:33] bjoern-st commented on #253
##Idea for the registration path module.
###What this module does:
This module enables administrators to set unique registration paths per Profile profile type with the option to assign different roles to each registration path.  (see https://backdropcms.org/project/profile for infos about profile module)

I've almost finished the port of this module and by now it has a dependency to the profile m

[2018-03-04 16:47] docwilmot commented on #253
So if not dependent on profile what would this do on its own?

[2018-03-06 07:10] jenlampton opened #254 "Intent to port: checkall, porterstemmer, site_map & taxonomy_menu_block"
I'm working on a project that will need the following contrib modules. Plaease consider these "coming soon":

* porterstemmer
* site_map
* checkall
* taxonomy_menu_block

[2018-03-06 12:55] PepeMty commented on #212
Any news on this issue...?
I was about to make a "port request" for paragraphs module.
Warm regards from sunny México.
José

[2018-03-06 23:06] jacksinn commented on #212
I haven't worked on it since last year. I forget what issue I was specifically having but I think it was due to some class in core. I was talking chatting with serendeputy about it at one point. I deleted the twitter account we were chatting on so I don't have access to the prior convo. The module is here: https://github.com/jacksinn/backdrop-paragraphs

[2018-03-06 23:09] jacksinn commented on #212
Yeah, per my commit log there was an issue with EntityAPIController https://github.com/jacksinn/backdrop-paragraphs/commits/backdropport and then a weekend or something must have happened and I totally forgot to keep working on it :/

[2018-03-07 00:08] PepeMty commented on #212
Thanks, Jacksinn.
I was just wondering on the fate of this module.
Best regards.

[2018-03-07 13:50] bjoern-st commented on #253
You could at least assign different user roles during registration.
I stumbled about this point in several discussions.

[2018-03-24 20:43] hosef opened #255 "Requesting access to the backdrop-contrib group (New Relic RPM module)"
I would like access to the backdrop-contrib repository.

I am a maintainer for the New Relic RPM module and i have ported it to backdrop.
[Drupal module](https://www.drupal.org/project/new_relic_rpm)
[Backdrop module](https://github.com/hosef/new_relic)

I agree to all items in the Backdrop Contributed Project Agreement.

[2018-03-25 01:50] jenlampton commented on #255
Hi @hosef!

Here's our checklist:

- [x] Include a LICENSE.txt file that indicates the code is GPL v2.
- [x] Include a README.md file that includes license and maintainer information.
- [x]  Maintain the Git history from Drupal 7. See this article.
- [x]  agree to all items in the Backdrop Contributed Project Agreement.

I've sent you an invite. Welcome to Backdrop contrib!

[2018-04-01 10:31] kleomash commented on #246
Hi, @jenlampton!

I think it is good idea to port tests for the module. You said that you could get info what I need to do to port them. After that I could make release of the module.

Thank you in advance.

[2018-04-06 20:17] laryn commented on #205
Update: I've been learning more about `flexbox` and I doubt I will come back to this as it is working pretty well to use `display: flex;` and `flex-flow: row wrap;` on the container element. Closing the issue for now.

[2018-04-06 20:17] #205 closed

[2018-04-08 01:12] vince03 opened #256 "CSS Injector port"
Hi.  I have been working on porting css_injector-7.x-1.x from Drupal 7.  I have been using Drupal 7 for a number of years but this is my first time to delve into any of the code.  It has been a bit of a learning curve and an interesting experience.  I have it working on Backdrop.  I just need to address some more details and do some final cleanup.

Once I have the code ready, I will upload it to a

[2018-04-09 10:32] olafgrabienski commented on #256
@vince03 Thanks for your work on the port of *CSS Injector*! I see the potential drawback of renaming the module, making it more difficult to find it from a Drupal perspective. So, I'm fine with leaving the name.

(Hoping anyway that the option to add custom CSS will get in Backdrop core someday, just like in WordPress, cf. the related core issue https://github.com/backdrop/backdrop-issues/issues/

[2018-04-12 02:28] klonos commented on #256
Thanks for starting the port @vince03 👍 Please let us know once you have the code in a repo and when ready for a review.

[2018-04-12 19:54] jenlampton commented on #256
I would also prefer not to combine the project with js_injector *before* porting to backdrop, as there will likely be people coming from Drupal who need it as it is now. Thanks so much for working on the port!

[2018-04-13 09:46] iyyappanuni opened #257 "Joining Request"
Hi Team,

I am a Drupal developer and developed the drupal contrib modules. I would like to join Backdrop community. My drupal profile - https://www.drupal.org/u/iyyappangovind-0

[2018-04-15 21:53] jenlampton commented on #257
Hello @iyyappan-unimity and welcome to the backdrop community! We'd love for you to be a part of the [Backdrop contrib group on GitHub](https://github.com/backdrop-contrib) :)

This is how the process usually works:
1) You create (or port from Drupal) a contributed module, theme or layout, and push it to GitHub as your own project.
2) We'll do a very cursory review of the project making sure it me

[2018-04-16 10:30] BWPanda opened #258 "Punctuation issues in example README"
Some of the text in the example README isn't consistent (e.g. some lines have a full stop, others don't).

[2018-04-16 10:32] BWPanda commented on #258
PR added.

[2018-04-19 19:42] #258 closed

[2018-04-19 19:42] jenlampton commented on #258
Thank you!

[2018-04-20 06:00] vstemen commented on #256
Hi.  I finally completed the css_injector port and am requesting access to the
backdrop-contrib repository.

I agree to abide by the terms in the Backdrop Contributed Project Agreement
section.

The code is here for your review.
https://github.com/vstemen/css_injector

So far as I can tell, it is working fine but the automated tests using the
testing module fail.  They also fail on Drupal.  Strang

[2018-04-20 07:11] BWPanda commented on #223
@klonos I think we can close this issue now in favour of using FreezeFrame's issue queue? https://github.com/backdrop-contrib/freezeframe/issues

[2018-04-20 23:13] jenlampton commented on #256
Hi @vstemen! Let's see how we're doing...

### New Project Checklist

- [x]  Include a LICENSE.txt file that indicates the code is GPL v2.
- [x]  Include a README.md file that includes license and maintainer information.
- [x]  Maintain the Git history from Drupal 7.

Looks great!

This, and [your agreement above]() is all we need to grant you access to the contrib group, so an invite should be in

[2018-04-21 17:57] vstemen commented on #256
OK.  The CSS Injector repo has now been transfered to backdrop-contrib.

[2018-04-22 22:49] stpaultim opened #260 "Port Antibot module"
I've had some real luck with the Antibot module in Drupal 7 and would love to see this ported to Backdrop. I'm looking at moving a few sites to Backdrop and would like solid SPAM protection. Also open to other recommendations.

https://www.drupal.org/project/antibot

Someone posted a request for a backdrop version of this module in the Drupal issue queue: https://www.drupal.org/project/antibot/iss

[2018-04-22 22:56] klonos commented on #260
That someone was @BWPanda :)

[2018-04-22 23:06] klonos opened #261 "Port Menu Link Weight to Backdrop"
https://www.drupal.org/project/menu_link_weight

I have posted a ticket against Backdrop core to solve the problem that this module is trying to solve: https://github.com/backdrop/backdrop-issues/issues/3029

Getting things in core takes time, so in the meantime, porting the module over would be nice :)

[2018-04-23 05:01] BWPanda commented on #260
Ha, well there you go 😉 Might take a look at this again, would love to get away from using Recaptcha if possible...

[2018-04-23 13:08] olafgrabienski opened #262 "Port the Footnotes module"
The editors of two of my Backdrop projects want to use Footnotes. In the first project I offered to use the contrib Markdown filter (which supports footnotes) as a workaround but actually I'd like to offer Footnotes like in Drupal:

https://www.drupal.org/project/footnotes

Are others interested in using the module as well, or porting it?

[2018-04-24 13:25] BWPanda commented on #260
I want better spam protection for Backdrop, but I don't know what's better. So I decided to test different methods. I've written a blog post about it here: https://panda.id.au/posts/anti-spam-test-introduction

Basically, after the test results come in in a month's time, I'll make a decision about what module I want to use in Backdrop and then use/port that.

Sorry, but I won't be porting Antibot

[2018-05-07 14:47] MegaphoneJon opened #263 "Nagios module and Application to join backdrop-contrib"
I ported the Nagios module (https://github.com/MegaphoneJon/nagios/tree/1.x-1.x) to Backdrop.  I only had a single site running it, but I shared it with Palante Tech, who confirms it works on their Backdrop sites as well.  I'd like to submit it to the contrib repo.

[2018-05-10 20:05] jenlampton commented on #263
Welcome to Backdrop @MegaphoneJon! Thanks for porting the Nagios module :)

[2018-05-21 17:31] BWPanda opened #264 "Module request: 'Imageresponsive' CKEditor addon"
I'd love to see the '[Imageresponsive](https://ckeditor.com/cke4/addon/imageresponsive)' CKEditor addon added to Backdrop (as a contrib module). Unfortunately my JS/CKEditor skills aren't that good... Any takers?

[2018-06-08 19:19] robertmaynord opened #265 "Module Request: AMP"
I recently received a notice that supposedly starting in July mobile page speed (AMP) will be a ranking factor for Google Search.  Google has added lightening bolts to search results where the page is AMP compatible on mobile devices.  I know there is an AMP module for Drupal, where you can basically create a separate page for each AMP node.  Google sees these pages and shows them for mobile searc

[2018-06-09 06:50] docwilmot commented on #260
Any progress on this yet? Been a month.

[2018-06-09 06:58] docwilmot opened #266 "Add Coder Upgrade info"
I had a thought that we could add a recommendation to the contrib README that for port requests the requester download the latest version of the requested project from D7 (ideally a Git clone with history) then run it through Coder Upgrade, then upload the result as a new repo to their own GitHub acct, **then** write a port request referencing the partly ported code. Not a hard requirement, but a

[2018-06-09 08:35] BWPanda commented on #260
I've had absolutely no submissions on any of my test forms (even the control with no spam protection). Guess spambots aren't finding my site... Not sure what to do about that. Suggestions?

[2018-06-12 14:27] laryn opened #267 "Intending to port Webform Submission Multiple Delete"
I'm intending to port Webform Submission Multiple Delete.

https://www.drupal.org/project/webform_submissions_multiple_delete/issues/2979130

[2018-06-12 15:31] laryn commented on #267
https://github.com/backdrop-contrib/webform_submissions_multiple_delete

[2018-06-12 15:31] #267 closed

[2018-06-12 15:34] laryn commented on #212
I see that Paragraphs has been ported and is ready for testing here:

https://github.com/backdrop-contrib/paragraphs

[2018-06-12 16:33] laryn commented on #266
The only downside would be if it doesn't get ported for a while and the original module gets some updates in the meantime. Then we'd be starting from a stale version.

[2018-06-12 16:54] docwilmot commented on #266
Then it would be the responsibility of the requester to update their repo by doing it again. If you need help, there'll be responsibilities, in other words. Beats not getting it ported at all because no one has the time to do the fussy initial, Coder-Upgrade-doable stuff. So far very few port requests have been honored, and I suspect this would help.

[2018-06-13 03:57] laryn opened #268 "Porting Contextual Tabs [Help Wanted]"
I was hoping this would be quick and easy but I'm running stuck and it may be because of some CTools plugin issue or just that the tabs don't work quite the same anymore...

Coder upgrade and minor tweaks are complete but it's non-functional:
https://github.com/laryn/contextual_tabs

[2018-06-13 10:49] docwilmot commented on #268
you have to convert the CTools "content type" plugin in `contextual_tabs.inc` to a Backdrop plugin-type block that extends Block class. You'll need a `hook_block_info()` with a `'class'` key. See `BlockText` for example. If youre stuck send another ping.

[2018-06-13 14:23] laryn commented on #268
Thanks, I'll give it a shot!

[2018-06-13 15:53] laryn commented on #268
@docwilmot I've staggered through a bit thanks to the directions you gave and I think I've made some progress. (At least, it's generating a block now!) Here's where I'm stuck currently:

https://github.com/laryn/contextual_tabs/blob/1.x-1.x/contextual_tabs.inc#L40-L44

In the ctools plugin version, `$conf` is passed to the function:

https://github.com/laryn/contextual_tabs/blob/2790eaaf65f5d11099

[2018-06-13 15:59] docwilmot commented on #268
`conf` translates to `$this->settings`.

[2018-06-13 17:00] laryn commented on #268
Well, some progress. Have to leave it back on the rainy day pile for now. Still some major display issues and have to figure out how to hide the regular tabs. Thanks for the pointers, @docwilmot!

![screen shot 2018-06-13 at 11 58 56 am](https://user-images.githubusercontent.com/871421/41366319-4e80e780-6f01-11e8-9794-2ed36df29b91.jpg)

[2018-06-21 23:19] stpaultim commented on #260
Need to post link to your site in some public venues. Tweet about it or post links on a page that is already well established. Spambots need to find out about it somewhere.

[2018-06-22 22:03] BWPanda commented on #260
Can I post a link in this public venue...? :-)
http://spamtest.panda.id.au/

I've also gone ahead and added an XML sitemap, and articles that I've copied (and credited) from the internet to add more text and comment forms to the site (spambots can't resist those right?).

[2018-06-25 16:42] jenlampton opened #269 "Menu Attributes"
The Menu Attributes module is one of the top Drupal modules that doesn't exist for Backdrop yet.

There's an issue in the Drupal queue where two people have begun to work on the port, that contains some early code: https://www.drupal.org/project/menu_attributes/issues/2871103

@quicksketch completed the port of the Menu Attributes module during a Backdrop CMS training workshop at Twin Cities Drupa

[2018-06-25 16:45] jenlampton commented on #269
There's also been a recent request for the module in the Forum: https://forum.backdropcms.org/forum/advanced-menu-link-setup

[2018-06-25 21:12] klonos commented on #269
Someone seems to be answering forum questions as the drop user 😄

[2018-06-25 22:09] jenlampton commented on #269
The dragon is a helpful resource for people :)

[2018-06-28 20:03] jenlampton commented on #269
Menu attributes has been posted in contrib: https://github.com/backdrop-contrib/menu_attributes

[2018-06-28 20:03] #269 closed

[2018-07-02 15:15] oadaeh opened #270 "Custom permissions module(s)"
I find myself in need of doing overall permissions checks and modifications as part of a project I am working on, and I'm wondering if anyone has already traveled down a similar path, and if so, what the results were. I searched through the contrib repository, but did not see anything related to this, but I might have missed it.

Basically, what I'm trying to accomplish is to do two things:
1. Imp

[2018-07-10 00:13] jenlampton commented on #270
We already have permissions to assign roles in core, as per https://github.com/backdrop/backdrop-issues/issues/313 or similar. I think the others would depend on what - specifically - you needed to delegate. I haven't needed fine-grain control of theme settings myself, yet.

[2018-07-10 00:15] #255 closed

[2018-07-10 02:52] klonos commented on #263
Hello @MegaphoneJon and thank you for porting the module! ...sorry for the really late response.

According our [New Project Checklist](https://github.com/backdrop-ops/contrib#new-project-checklist), all projects must meet these minimum requirements:

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2. You can use
[this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/m

[2018-07-11 21:00] jenlampton commented on #254
Porter stemmer module is here: https://github.com/backdrop-contrib/porterstemmer

[2018-07-11 21:59] jenlampton commented on #254
Site map module: https://github.com/backdrop-contrib/site_map

[2018-07-12 18:44] quicksketch commented on #242
I think we can close this now that we support multilanguage menus directly in core: https://github.com/backdrop/backdrop-issues/issues/225

This was more effort than @bjoern-st's implementation, but it comprehensively added the language functionality to menu items, including a UI and the filtering per-language ability.

[2018-07-12 18:44] #242 closed

[2018-07-17 17:50] alexfinnarn opened #271 "Intent To Port User External Invite"
The User External Invite module allows an admin user to invite users that are already created either locally or by provisioning the user via external authentication, like LDAP or social logins.

A use case for this module is when you want to invite a user to a new site and grant them a role only if they actually accept the invitation. The user can have a different system email then you sent the in

[2018-07-17 18:31] jenlampton commented on #260
I'm going to take a stab at a port of antibot module. I have a client who is asking for another spam protection method, and I'd like to give it a try.

[2018-07-17 18:43] MegaphoneJon commented on #263
Thanks @klonos - I'm not ignoring this but have to prioritize some client work first.  I'll try to deal with this after my August vacation.

[2018-07-17 18:58] jenlampton commented on #260
The antibot module is here: https://github.com/backdrop-contrib/antibot

[2018-07-17 18:58] #260 closed

[2018-07-17 19:02] docwilmot commented on #260
Did you just port that in 27 minutes? On fiya!

[2018-07-17 19:33] BWPanda commented on #260
Nice, thanks @jenlampton! If I ever get the results from my spam test and decide to use Antibot, I'll make sure to give it a thorough test ;-)

[2018-07-17 19:40] docwilmot commented on #260
You know the Coder Upgrade module does that right?

[2018-07-17 20:18] jenlampton commented on #260
Yes, but since there were only two variables it almost wasn't worth it to set up coder upgrade ;)

[2018-07-17 20:21] stpaultim commented on #260
Great work. I'll be installing it ASAP to give it a spin.

[2018-07-17 21:10] jenlampton commented on #260
@stpaultim I've already found an omission, please use a git clone to test (because it has the default config values). I'll create a new release as soon as I we determine there isn't anything else that needs fixing :)

[2018-07-19 13:11] alexfinnarn commented on #271
The three checkboxes listed in https://github.com/backdrop-ops/contrib/blob/master/README.md

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2. You can use this copy. https://github.com/backdrop-ops/contrib/blob/master/examples/LICENSE.txt
- [ ] Include a README.md file that includes license and maintainer information. You can use this example. https://github.com/backdrop-ops/con

[2018-07-19 14:10] docwilmot commented on #271
Good list, we should adopt this.

We are trying to switch to tags in modules rather than packages; should (fingers crossed) be in next minor release. It may be best to jump in there and add tags to your new modules from now.

  Change info file to reflect Backdrop changes from D7

Try Coder Upgrade. It does this automatically. Still buggy but cuts down the tedious tasks by many minutes, and the mo

[2018-07-19 20:01] kreynen opened #272 "Intent To Port Match Redirect"
https://www.drupal.org/project/match_redirect provides redirecting based on path patterns with wildcards. This functions much like how block page visibility works. You specify a pattern like "old-blog/*" and a target like "new-blog" and all pages under old-blog will be redirected to the page new-blog.

I've opened https://www.drupal.org/project/match_redirect/issues/2986976, but the maintainer of

[2018-07-19 21:39] kreynen commented on #272
Got https://github.com/kreynen/match_redirect functional in < hour.  Still working on https://github.com/kreynen/match_redirect/issues/1, but a wildcard redirect can be created and it works.

[2018-07-21 05:13] BWPanda opened #273 "Port Views Menu Support (VMS)"
I have a need for the [Views Menu Support](https://www.drupal.org/project/vms) module, so have asked the maintainer if they'd like to port it. If not, I'll take a stab at it.

[2018-07-24 17:31] jeor0980 opened #274 "Maintainer Application: Port of the Google Custom Search Engine"
Google Custom Search Engine (CSE) is a free service that can be used to search a set of one or more sites. The Google CSE uses Google's index of the site. Content changes are not immediately reflected in the results the way they are with Drupal's core search.

https://www.drupal.org/project/google_cse
https://www.drupal.org/project/google_cse/issues/2987920

[2018-07-24 17:57] alexfinnarn opened #275 "Intent To Port Site Verify Module"
I saw the site_verification module, https://github.com/backdrop-contrib/site_verification, and looked at it hoping that it would have the features I need.

I almost filed some issues on features I'd like to add to that module, but the D7 Site Verification https://www.drupal.org/project/site_verify module already has those features...it is what we use in D7.

That D7 module also has extensible hook

[2018-07-24 17:58] alexfinnarn commented on #275
Read over https://github.com/backdrop-ops/contrib/blob/master/README.md

Complete the three checkboxes listed in https://github.com/backdrop-ops/contrib/blob/master/README.md

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2. You can use this copy. https://github.com/backdrop-ops/contrib/blob/master/examples/LICENSE.txt
- [ ] Include a README.md file that includes license and mai

[2018-07-24 21:03] alexfinnarn commented on #275
On a second look, I'm going to try working on https://github.com/backdrop-contrib/site_verification/issues to see if those will work for my needs.

site_verify is something D7 users would be used to though vs. site_verification, and migrating multiple site_verify entities doesn't work in the current version of site_verification if that were to be a replacement to site_verify in D7.

[2018-07-26 19:41] alexfinnarn commented on #272
I can confirm that @kreynen has completed the listed checks...

- [x]  Include a LICENSE.txt file that indicates the code is GPL v2. You can use this copy.
- [x] Include a README.md file that includes license and maintainer information. You can use this example.
- [x] Maintain the Git history from Drupal 7. See this article.

[2018-07-26 19:46] kreynen commented on #272
I agree to the CLA too

[2018-07-26 19:54] serundeputy commented on #272
@klonos can you approve @kreynen 's maintainer app and add him to backdrop-contrib group if everything is to your satisfaction?

[2018-07-26 19:59] jenlampton commented on #275
I'd love to see the two modules merged into a single one. Whichever one you choose to use, I'd be willing to help with an upgrade path from the other :)

[2018-07-26 20:48] alexfinnarn commented on #271
I've paused my work on this for now...

[2018-07-26 20:51] alexfinnarn commented on #275
cool. I'm pausing working on porting site_verify in lieu of the issues I opened in site_verification and looking at that module more. I'll wait a tad bit for comments on those issues, but I think the previous maintainer of that project is no more.

[2018-07-26 20:58] jenlampton commented on #273
Looks like https://backdropcms.org/project/vms is up :)

[2018-07-26 20:58] #273 closed

[2018-07-26 21:21] kevincrafts opened #276 "Intent to port Shortcode"
Shortcodes allow site editors to create more complex rendered HTML through simple codes entered into a WYSIWYG editor.

https://www.drupal.org/project/shortcode

[2018-07-26 21:23] kevincrafts opened #277 "Intent to port Attachement Links"
The Attachment Links module provides permanent links to files attached to a node. A single, easy-to-remember URL can be used to retrieve the preferred (canonical) or newest version of a file regardless of how many versions of that file have been attached to a node.

https://www.drupal.org/project/attachment_links

[2018-07-26 21:39] kreynen opened #278 "Intent To Port a SAML authentication module"
I'm not sure if I'm going to try to port https://www.drupal.org/project/simplesamlphp_auth or
https://www.drupal.org/project/samlauth yet.  We're currently using simplesamlphp_auth, but the simplesamlphp library is overly complicated for just authentication. Samlauth uses https://github.com/onelogin/php-saml.  There is also https://github.com/onelogin/drupal-saml.

We need either LDAP or SAML to b

[2018-07-26 22:09] klonos commented on #272
@kreynen please rename the default branch to 1.x-1.x (currently 7.x-1.x). In trust that you will do that, I have just sent an invite:

[2018-07-26 22:09] klonos commented on #272
...please let me know if you have any issues.

[2018-07-26 22:09] #272 closed

[2018-07-30 20:11] kevincrafts opened #279 "Join Request"
I am a Drupal themer and developer. I would like to join Backdrop community.

https://www.drupal.org/u/kevincrafts

[2018-07-30 21:33] kreynen opened #280 "Make it policy to leverage GitHub's security scans of php libraries and code assets"
https://github.com/backdrop-ops/contrib/issues/34#issuecomment-72970517

Since @quicksketch wrote that, Github has introduced https://blog.github.com/2017-11-16-introducing-security-alerts-on-github/

Dependency graphs are automatically enabled on public projects and Github will show repo owners alters when vulnerabilities that have CVE IDs are found. Initially, GitHub scanned Javascript and Ruby.

[2018-07-30 22:21] kreynen opened #281 "Display preferred method for reporting security issues in each Project's ReadMe.md"
I ran into this in https://github.com/backdrop-contrib/xmlsitemap/pull/58

While the preferred process is clearly stated in https://backdropcms.org/security and to a certain extent in https://github.com/backdrop-ops/contrib/blob/master/README.md#backdrop-contributed-project-agreement, this assumes a user is fully indoctrinated into the Backdrop community before attempting to address security issue

[2018-07-30 22:29] kreynen opened #282 "Add CONTRIBUTING.md to each contrib project"
![screen shot 2018-07-30 at 4 22 58 pm](https://user-images.githubusercontent.com/385234/43426965-e1899e18-9414-11e8-85c0-865594386028.png)

This issue is in the same vein as https://github.com/backdrop-ops/contrib/issues/280, https://github.com/backdrop-ops/contrib/issues/281 and a few other issues I'm opening, which is to embrace Github features.

By adding a variation of CLA found at https://gi

[2018-07-31 21:33] alexfinnarn commented on #280
I've been using a (badass) PHP Storm plugin that had a security suggestion https://github.com/kalessil/phpinspectionsea/blob/master/docs/security.md#security-advisories

Points to https://github.com/Roave/SecurityAdvisories

I'm not sure if that helps at all and it doesn't work on composer install, but adding that requirement to any composer.json file should help prevent installing packages with s

[2018-07-31 21:51] alexfinnarn commented on #270
We use https://www.drupal.org/project/secure_permissions exactly for those reasons.

On sites with a lot of modules, sorting through the permissions page in D7 sucks. Rather than alter that page to provide less trusted users access to certain permissions but not others, we allow users to turn on modules that bundle permissions being added/removed within them. Our roles are set in stone, though, so

[2018-07-31 21:56] alexfinnarn commented on #270
https://www.drupal.org/project/personas is D8, but I like the idea of composing roles based on personas. That way you can have "X role is like Y but with the added Z persona". I wanted to switch to that approach because I have no idea from a bird's eye view what each role can do if I don't scan each permission individually....but with personas it can be easy to group permissions and think about ro

[2018-07-31 22:17] alexfinnarn opened #283 "Add Test Runner Template To Module Port/Build Guidance"
I alluded to running any existing SimpleTests in https://github.com/backdrop-ops/contrib/issues/271#issuecomment-406270922 as part of porting a module. Even a novice developer should be able to turn on the Testing module, go to the UI page, and run the tests. They don't need to understand the tests, but they can file issues for other maintainers to look further into.

For my team, I did some work

[2018-07-31 22:41] alexfinnarn opened #284 "Add GitHub Template For Project Application"
A lot of recent talk relates to the steps you need to take to when applying to port/create a module.

https://help.github.com/articles/about-issue-and-pull-request-templates/

I haven't made extensive use of GitHub templates but all of the checkboxes in the readme could be added to a template so it is very clear to the potential contributor what they need to do in beginning the process.

It also h

[2018-07-31 22:43] alexfinnarn commented on #284
"Under your repository name, click  Settings..." from https://help.github.com/articles/creating-issue-templates-for-your-repository/

So I guess I can't make a PR for this, but I still think it is a good idea.

[2018-07-31 22:52] docwilmot commented on #284
I have in past proposed this whole thing be a Webform on BackdropCMS.org.

[2018-08-01 15:08] jeor0980 commented on #274
Ported Bundle Repo: https://github.com/jeor0980/google_cse

[2018-08-01 17:12] kreynen opened #285 "Move CLA to a service?"
When other groups within CU started using the Express install profile, we looked at adding https://cla-assistant.io/ and https://www.clahub.com/ to our repos.  Turns out, we were worried about managing contributions that never came.

Both of these services integrate with Github in similar ways.  We preferred https://cla-assistant.io/, but I don't remember why.  You still merge PR's regardless of w

[2018-08-01 21:02] laryn opened #287 "Field Wrappers"
https://github.com/laryn/field_wrappers

I've run this tiny module through Coder Upgrade but it doesn't actually show the field wrapper options on the Display pages.

Here is what it is supposed to do:
![field_wrappers_small](https://user-images.githubusercontent.com/871421/43548703-37784c8a-95a4-11e8-8b6f-ff347f4a36e7.png)

Any pointers or tips about where the issue is would be appreciated! There

[2018-08-01 23:09] klonos commented on #281
@kreynen ...when creating a [new issue against core](https://github.com/backdrop/backdrop-issues/issues/new), we have a template in place that indicates:

I think that perhaps it should become one of our requirements that new repos in contrib have an issue template that looks like that. ...perhaps for pull requests too.

Having said that, we could also have a "Report a security issue" link in b.or

[2018-08-02 02:26] oadaeh commented on #270
@alexfinnarn I am fine with what ever provides the best solution. I only posted the ones I found that looked to me like they might have something I think I want.

I'm not planning on allowing the users to do anything on the modules page. Most likely, I'm going to create a module/page that will allow users to enable things in a Features like way, i.e., enabling functionality, which might include on

[2018-08-02 11:47] serundeputy commented on #279
Hello @kevincrafts

* start by reading this please: https://github.com/backdrop-ops/contrib/blob/master/README.md

[2018-08-02 17:24] laryn opened #288 "Intent to Port Flippy"
https://www.drupal.org/project/flippy

[2018-08-02 19:52] jenlampton commented on #284
I've added a github template, but it doesn't seem to be in effect yet. I'll need to do some more research on how to actually get those hooked up...

[2018-08-02 20:04] jenlampton commented on #271
@alexfinnarn you are already a backdrop maintainer (for xmlsitemap) so I have removed the maintainer application label from this issue.

[2018-08-02 20:07] alexfinnarn commented on #284
I think I did it on https://github.com/alexfinnarn/code_syntax_highlighting_bundle/issues/new/choose I had to click "Propose Changes" next to the templates I added in the UI, and then I was prompted to make a PR to my dev branch. Some files just showed up in https://github.com/alexfinnarn/code_syntax_highlighting_bundle/tree/dev/.github/ISSUE_TEMPLATE.

I think you could just commit files to that

[2018-08-02 21:30] laryn commented on #288
Testing would be welcome: https://github.com/backdrop-contrib/flippy

[2018-08-03 00:31] stpaultim opened #289 "Application to join Backdrop contrib community"
Hi, I'm Tim Erickson or stpaultim. I'd be interetest in joining the Backdrop contrib community. My company, Triplo, recently started using the Views Bootstrap module and have submitted a couple of pull requests. However, the module appears to be unmaintained at this time. We would be interested in volunteering to work on this module (and/or other contrib projects).

I agree to the Backdrop Contrib

[2018-08-03 00:44] klonos commented on #289
Our [Backdrop Contributed Project Group Application](https://github.com/backdrop-ops/contrib#backdrop-contributed-project-group-application) states the following:

I would gladly vouch for @stpaultim, but for the sake of transparency, and since I will be the person reviewing and approving the application, I would prefer to have someone else also give a thumbs up (preferably not affiliated with Tri

[2018-08-03 00:45] Radcliffe opened #290 "Application to join Backdrop contrib community"
Hello! My name is [David Radcliffe](https://www.drupal.org/u/david-radcliffe).  I am an experienced developer, but new to Drupal and Backdrop. I have been working as a Drupal developer with [Tim Erickson](https://www.drupal.org/u/stpaultim) for a little over a year. Tim has also applied to be a Backdrop contributor (#289) and I would like to work with him to help maintain the Views Bootstrap modul

[2018-08-03 00:47] klonos commented on #290
Our [Backdrop Contributed Project Group Application](https://github.com/backdrop-ops/contrib#backdrop-contributed-project-group-application) states the following:

I would gladly vouch for @stpaultim, but for the sake of transparency, and since I will be the person reviewing and approving the application, I would prefer to have someone else also give a thumbs up (preferably not affiliated with Tri

[2018-08-03 03:50] oadaeh commented on #289
I'll vouch for Tim.
Unfortunately, I don't know David, so I cannot vouch for him.

[2018-08-04 20:00] jenlampton commented on #204
It looks like the trigger actions module is here: https://github.com/backdrop-contrib/trigger_actions
Can we close this issue?

[2018-08-04 20:00] #204 closed

[2018-08-06 17:07] herbdool commented on #274
Looks like project meets the checklist: license, Drupal commit history and README.

[2018-08-06 18:52] klonos commented on #274
Indeed, the project meets the requirements:

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2.
- [ ] Include a README.md file that includes license and maintainer information.
- [ ] Maintain the Git history from Drupal 7.

Thank you @jeor0980 for porting the module over 👍. For the record, can I please have you state that you agree with the [Backdrop Contributed Project Agreement]

[2018-08-06 19:03] klonos commented on #274
PS: this is optional, but @jeor0980 can you please also consider doing the following:

- Add a section in your readme that says the following:

[code]

-  Add a line in the module (and any submodules) .info file with the following:

[code]

I have assumed that you have started work from the latest 3.x dev version. If not, then change the lines above to match the version you branched off of.

Thank

[2018-08-07 01:47] klonos commented on #274
Invite underway @jeor0980:

Welcome onboard! 🎉

[2018-08-07 17:19] klonos commented on #274
I'm going to assume that you have received your invite @jeor0980 and that it is OK to close this now.

[2018-08-07 17:19] #274 closed

[2018-08-08 15:10] alexfinnarn commented on #290
I see no red flags for letting @Radcliffe join the contrib group. I give a 👍 .

I was going to suggest that he make some PRs into the Views Bootstrap project to why he wants to join the contrib group, but then I saw https://github.com/backdrop-contrib/views_bootstrap/pulls where he has the last three PRs :) So, he definitely has shown enough interest to join, IMHO, and I think PRs to existing repo

[2018-08-08 15:13] alexfinnarn commented on #289
Same as #290, maybe it would be good to amend the process to also include reviewing PRs to existing projects instead of only new Backdrop modules? By the current logic, if someone unknown to the contrib group wants to join Backdrop, they have to port a module that the community might not need in order to work on an existing, potentially abandoned project that might be used by many Backdrop sites.

[2018-08-08 16:27] klonos commented on #289
@stpaultim invite underway:

Officially welcome to the club 😉 🎉

[2018-08-08 16:27] #289 closed

[2018-08-08 16:49] alexfinnarn commented on #185
I like the idea of this issue as part of the discussion of changing around permissions and how contrib projects are maintained.

[2018-08-08 17:00] alexfinnarn commented on #150
can there be a compromise between per-repo permissions and teams/groups? The per-project permissions are handled automatically by a bot and then the team/group members are tapped/coronated by more involved/long-time contributors?

[2018-08-08 17:12] laryn commented on #150
I agree that the "any contributor can commit to any contrib project" set up makes me a little nervous. Not necessarily because of nefarious reasons (like someone gets hacked and the whole of contrib is open to the hacker), but even because of the possibility of accidental commits in someone else's repo. Is there a way to allow the Security Team (and/or Bug Squad group) to automatically have access

[2018-08-08 17:56] owenmorrill opened #293 "Intent to port menu_firstchild"
Hello Backdrop Contrib maintainers, I would like to join your group in order to add https://www.drupal.org/project/menu_firstchild module to the Backdrop contrib repository. I have read through the contrib readme and agree to the "Backdrop Contributed Project Agreement" listed there.

I have also read through porting a module from Drupal 7 (if porting a module) and have informed the maintainers of

[2018-08-09 12:16] laryn commented on #287
@BWPanda Thanks! That gets me further along...

[2018-08-09 15:39] kreynen commented on #271
@alexfinnarn now that we have githubapi_sso working, it makes more sense to port this.  I'm still going to port one of the SAML modules for https://github.com/backdrop-ops/contrib/issues/278, but we could start using user_external_invite with our team now.

[2018-08-09 15:56] kevincrafts commented on #279
https://github.com/kevincrafts/shortcode

[2018-08-09 16:34] kreynen commented on #265
Drupal's LWG went a few rounds with Google's legal team about the GPL-2.0 and Apache-2.0 compatibility in https://www.drupal.org/project/amp/issues/2702125

While the way the Drupal project is distributed with a 2 step install process is considered both legal and in line with Drupal's updated https://www.drupal.org/git-repository-usage-policy, the Backdrop project needs to clarify if their CLA mea

[2018-08-09 17:40] kreynen opened #294 "Follow WordPress contrib licensing policies and allow GPL-2.0 and GPL-3.0"
I brought the idea of moving to GPL-3.0 back in https://github.com/backdrop/backdrop-issues/issues/45

It makes sense to keep Backdrop core licensed as GPL-2.0 or/and later (we actually clarified that all contributions committed to Drupal.org's git repos are required to be dual licensed by changing to "and later" in the latest version of https://www.drupal.org/git-repository-usage-policy).  This w

[2018-08-09 18:15] laryn commented on #287
I think we're about ready for an initial release. Anyone want to do a trial run?
https://github.com/backdrop-contrib/field_wrappers

[2018-08-10 15:40] Graham-72 opened #295 "Porting of blizz_vanisher"
Has anyone else had a look at this Drupal module?

I am starting to look at it because of GDPR requirements and if no-one else is working on it I shall endeavour to port it to Backdrop.

[2018-08-10 16:05] owenmorrill commented on #293
I believe this is ready to be reviewed now. Readme and license have been updated.

[2018-08-10 18:10] herbdool commented on #279
I can take a quick look, though it'll need an official approval by @klonos, etc.

* README looks mostly good. Would be good to add a Credit section listing who ported and Drupal maintainers. E.g. https://github.com/backdrop-contrib/smtp
* in .info I suggest putting `type = module` further down. Should start with name, description, ...
* LICENSE.txt exists, good.
* replace all `drupal_*` functions

[2018-08-10 18:33] laryn commented on #294
@kreynen  I pasted the Gitter chat we had into [an issue on Scroll Reveal](https://github.com/backdrop-contrib/scrollreveal/issues/11#issuecomment-410868684) (since that is the module that bundles a library that is currently MIT but moving to GPL3).

It [looks like contrib can already choose](https://backdropcms.org/license#gpl-version) to license itself as GPL3 if desired (according to this parag

[2018-08-10 18:42] laryn opened #296 "Porting Conditional Fields"
This is in a very early stage and is on my "rainy day" list. Help welcome, or check back periodically to see if I've made any further progress. 😄

https://github.com/backdrop-contrib/conditional_fields

[2018-08-11 15:29] Graham-72 commented on #295
I am making progress on the port but it is not yet ready for release. The D7 version uses class EntityAPIControllerExportable which is not included in Backdrop, so I am trying the new entity_plus module, with some success.

[2018-08-12 19:42] offthehookdesign commented on #295
Hi Graham, I've posted in the EU Cookies issues queue, not realising you've posted here. I started to port Blizz Vanisher myself, and got the same EntityAPIControllerExportable class problem. I've not enough skills to do much more with it so it's exciting to see you're on the case. I do have a pet peeve with this module, and that's the name!

How do you feel about changing it, perhaps to something

[2018-08-12 22:03] stpaultim opened #297 "Port Request for Views Field View"
I'm just running into a situation where it would be great to use the Views Field Views module?
https://www.drupal.org/project/views_field_view

[2018-08-12 23:59] klonos commented on #293
Hello @owenmorrill and thank you for filing this application!

I see that the module commit history has been preserved, and the GPL2 license added. A couple of things though:

1. We use README.md in Backdrop; not README.txt. So can you please rename the file in your repo?

2. Can you please remove the `6.x-1.x`, `7.x-1.x`, and `8.x-1.x` branches from the repo, and also rename `master` to `1.x-1.x`

[2018-08-13 00:02] klonos commented on #263
Perfectly understandable @MegaphoneJon ...it's not as if I have responded in a timely manner either. Sorry 😅...just let me know once ready (might be faster if you jumped into the Gitter channel and "pinged" me)

[2018-08-13 08:44] olafgrabienski commented on #295
I agree, changing the name is a good idea. "blizz" is an 'artificial' term used for a couple of quite different modules, all created by one agency (comm-press), see https://comm-press.de/blizz-for-thunder-cms (in German language).

[2018-08-13 09:26] Graham-72 commented on #295
@olafgrabienski thanks for the information. I will change to the new name.

[2018-08-13 14:28] kreynen commented on #294
https://api.backdropcms.org/contrib-application-process and https://github.com/backdrop-ops/contrib/blob/master/README.md (are these the same?)

If the intent is to allow either GPL-2.0 or GPL-3.0, that isn't clear.  The line Drupal has always walked is that you can legally distribute Drupal core or contrib as GPL-3.0, but you can't do it from Drupal.org.  This used to reduce confusion since if so

[2018-08-13 15:07] laryn commented on #294
@kreynen You're right -- those pages seem to contradict each other. Sorry. I guess we need a core team representative to chime in here after all.

[2018-08-13 17:13] laryn commented on #294
A few notes from @kreynen in Gitter, pasted here for when the PMC looks this over:

[2018-08-13 18:41] owenmorrill commented on #293
Thanks, @klonos. I have updated the branch with the information above. I've also updated the ticket in d.o to reflect the option of having them takeover or join in the port. There doesn't seem to be a lot of activity from the maintainers--is there a certain period of time we should wait before moving forward?

[2018-08-13 19:52] alexfinnarn commented on #275
Based on https://github.com/backdrop-contrib/site_verification/issues/6#issuecomment-412632578 I'm gonna leave that module alone and port the d.o version. It has a one-to-one name recognition migrating from Drupal anyway.

[2018-08-14 09:43] sbgraphicdesign commented on #295
@Graham-72 very many thanks for your effort with this. Am very excited for this to be available.

Would you like me to communicate with the entity plus devs to ask when a release date would be likely?

Also I do have some ideas for enhancing this module. Would you prefer for me to wait until you have a repository in order to raise these as issues?

I wish I could help more but my coding skills are

[2018-08-16 06:34] Graham-72 commented on #295
I have now transferred my port of blizz_vanisher to backdrop-contrib. It is available at https://github.com/backdrop-contrib/blizz_vanisher. Any issues can now be raised there.

It requires the installation of module entity_plus which is available from https://github.com/backdrop-contrib/entity_plus.

I found problems with the tarteaucitron scripts included in the D7 release (1.3.0) and I have rep

[2018-08-16 19:59] jenlampton commented on #293
@owenmorrill there's no need to wait for a response, we can move forward without one. If someone does respond eventually we can react as needed if/when that happens :)

[2018-08-17 12:00] sbgraphicdesign commented on #295
Hi @Graham-72 , many thanks for all the work you've done so far to get this ported. I've now replied to your issue on the module page, which I hope will prove helpful.

I can certainly assist with some documentation and perhaps advice for streamlining the UI a touch once we've ironed out these teething issues.

I think this is a really important module (certainly for those of us in the EU), and ho

[2018-08-17 17:01] alexfinnarn commented on #270
just posting an idea for Secure Permissions here to not forget, but I will probably create that repo sometime soon...

I think https://github.com/backdrop/backdrop/blob/1.x/core/modules/user/user.module#L2229 might be a good way to gather config files like `secure_permissions.roles. ` and then each module could include a role that matched an existing role with permissions. On module enable, the Se

[2018-08-17 21:03] aytee opened #298 "Porting IMCE Rename Module"
In the process of porting the IMCE Rename module.
https://www.drupal.org/project/imce_rename

https://www.drupal.org/project/imce_rename/issues/2993447

[2018-08-17 21:56] herbdool commented on #294
I vote to make it flexible. Backdrop already encourages bundling of third party libraries (where allowed) so I suspect it should be okay to make it clearer policy that there license allows that.

[2018-08-22 11:18] klonos commented on #293
...I am closing this issue, but please feel free to either commend here or drop a line over on Gitter if you are having trouble with anything. Cheers.

[2018-08-22 17:32] jenlampton commented on #293
I have a handy command for removing all Drupal tags before creating a Backdrop release:
[code]

Hope others find it useful!

[2018-08-25 18:28] BWPanda opened #299 "Backdrop page builder"
I'd love to have a system in which my clients can design, layout and build their own pages, without my needing to do it for them in a way that's hard-coded and in-flexible. It needs to be easy to use (i.e. not just give them full access to Views, Layouts, etc.), and preferably drag-and-drop and in-place editable.

Wordpress has lots of options like this, some of which are:

- [Make](https://thethe

[2018-08-25 18:50] BWPanda commented on #299
For what it's worth, this idea came about mostly from my growing need to build frontpages that are comprised of 'sections' as you scroll down the page - each section has its own background (either a colour or an image/video), layout (e.g. a large centered text quote, blog teasers, portfolio thumbnails, etc.).

To build this in a way that the client can customise; add, remove and re-arrange section

[2018-08-27 03:05] stpaultim opened #300 "Take over maintainership of Views Bootstrap Module"
As per the instructions here.
https://github.com/backdrop-ops/contrib#abandoned-projects

We've:
1. Applied for participation in the BackdropCMS contrib group and been accepted.
2. Created an issue in the Views Bootstrap issue queue and waited two weeks.
     https://github.com/backdrop-contrib/views_bootstrap/issues/12

If someone with authority could complete the process, that would be great.

B

[2018-08-27 14:25] oadaeh commented on #299
I'm attempting to flag @hosef as we have discussed creating similar functionality in the past.

[2018-08-27 19:29] stpaultim commented on #300
@herbdool suggested we go ahead and add our names to the readme file and proceed. We have done so. I consider this issue closed.

[2018-08-27 19:29] #300 closed

[2018-08-28 12:55] olafgrabienski commented on #134
The module was ported, see https://backdropcms.org/project/css_injector.

(Guess we can close the issue, I don't have the permissions.)

[2018-08-28 16:11] kreynen commented on #278
I went ahead and started the port of realname at https://github.com/backdrop-contrib/realname.  We will eventually need SAML, but we're able to use the githubapi_sso for https://webdev.colorado.edu/ since all of the users of that site are staff with GitHub accounts.

[2018-08-29 15:31] kreynen commented on #278
The way we run our sites, any users with an account on the enabled authentication can login to the site at /user, but only users who are invited through https://www.drupal.org/project/user_external_invite or manually assigned a role.  I've actually hacked/patched Drupal's SAML module so that we can use SAML and LDAP interchangeably.  I have half a post drafted about that, but we ran into some infr

[2018-08-30 20:04] jenlampton commented on #299
I believe @docwilmot worked on flexible layout (like from Panels) but I'm not sure where that ended up...

[2018-08-30 20:05] jenlampton commented on #297
I'm surprised I haven't needed this yet, it's one of my fav projects for Drupal. I'd expect that I'll need it shortly, and when that happens I'd be happy to share the result with the community :) If you have a timeline, let's chat!

[2018-08-30 20:41] olafgrabienski commented on #299
Strange, I believe I had added a comment referring to the [Paragraphs module](https://github.com/backdrop-contrib/paragraphs), must have forgotten to save it. It's a great approach especially for front pages and landing pages with many sections. More information on the [Drupal module page](https://www.drupal.org/project/paragraphs) and the [demo site](https://paragraphs.site-showcase.com).

Re Fle

[2018-09-01 07:16] BWPanda commented on #57
Don't think this is needed anymore... Reopen if you disagree.

[2018-09-01 07:17] #57 closed

[2018-09-07 09:54] davegmk commented on #299
I've used page builders such as Beaver Builder for clients WordPress sites.  The upsides is that they make the visual updating of content very, very easy for non technical users.  People can see exactly how the changes they are making effect the content in real time.

One of the big downsides for me is that they leave a lot of nested Div's in the markup.

I've used Paragraphs for Drupal sites and

[2018-09-07 13:07] BWPanda commented on #299
Wow, Elementor for Drupal looks interesting. Quick, let's do something for Backdrop before I get jealous :wink:

Regarding Paragraphs, came across this the other day: https://blog.acromedia.com/live-component-guide-with-drupal-paragraphs
It basically provides the functionality I want for my clients, but the UX could use (a lot) of work. Will try to have a play with it sometime soon and see if it's

[2018-09-07 13:42] davegmk commented on #299
When working with Drupal 7 sites I'd often use a combination of a Bootstrap base theme, Display Suite and Paragraphs.  This worked very well, but the UX was often a little harder for users to get their heads around, especially with more complex layouts and multiple fields.

I was very much a hold out against Page Builders.  However I thought  I would give one a try for a new WordPress project.  Th

[2018-09-07 14:58] laryn opened #301 "Port of Prepopulate"
I've done a basic port (actually it seems to be working without me actually touching any code after the Coder Upgrade output) but would love to have another tester before I formally release it:

https://github.com/backdrop-contrib/prepopulate

[2018-09-07 15:03] laryn commented on #299
I've just started using Paragraphs in the last few months and it is a big improvement. I'm wondering how easy it would be to provide a module that prepopulated (or gave the option to prepopulate) some bundles very quickly and easily.

Also, although I haven't used it yet, my "to test out" list includes HAX, which may be worth mentioning here: https://backdropcms.org/project/hax

[2018-09-12 10:04] olafgrabienski commented on #262
I've made a quick port of [Footnotes 7.x-3.1](https://www.drupal.org/project/footnotes/releases/7.x-3.1) (supports CKEditor 4.6+) using [Coder Upgrade](https://github.com/backdrop-contrib/coder_upgrade). The very basics of the module work without further changes, but submodules and additional functionality like a CKEditor button or Views integration don't, and there are some errors on the DBlog.

[2018-09-18 11:41] olafgrabienski commented on #262
As suggested by @docwilmot in https://github.com/backdrop-ops/contrib/issues/266#issue-330860280, I've

- downloaded the latest version of Footnotes from D7 (ideally a Git clone with history),
- run it through Coder Upgrade, and
- uploaded the result as a new repo to my GitHub account.

https://github.com/olafgrabienski/footnotes

I'd appreciate any help continuing the port very much!

[2018-09-21 14:44] laryn commented on #301
Releasing it today (and closing this issue).

[2018-09-21 14:44] #301 closed

[2018-10-02 16:31] kevincrafts commented on #299
So we've had a need for this type of page for years at CU Boulder and I'd designed/developed about 5 different versions of it before we finally settled on our current version on our Express platform.

We already had a block type that allowed you to specify a background and embed other block type content inside of it, so rather than recreate that, we made a content type that allows you to just sele

[2018-10-02 17:10] laryn commented on #294
I'd also vote to make it more flexible and allow folks to choose GPL-3.0 only licenses on modules they host in the `backdrop-contrib` space.

[2018-10-03 06:09] BWPanda opened #302 "Maintainer change request for Back To Top"
As per https://github.com/backdrop-contrib/back_to_top/issues/5, I'd like to take over the maintainership of the [Back To Top](https://github.com/backdrop-contrib/back_to_top) module.

[2018-10-04 20:12] jenlampton commented on #294
I've opened a PMC issue to review and clarify the licensing for contrib.

[2018-10-26 23:00] olafgrabienski opened #303 "Application to join Backdrop contrib"
Here I am, Olaf Grabienski from Hamburg, Germany. I work with Backdrop for a while, mainly as a site architect, and I'd like to join the Backdrop contrib community.

I need a port of the Drupal *Footnotes* module and tried to do it by myself. I guess it worked quite well even if I'm not a coder, thanks to the help of other contributors. Here's the repository of the module: https://github.com/olafg

[2018-10-29 16:14] klonos commented on #263
Friendly "ping" @MegaphoneJon 😄

[2018-10-29 16:18] klonos commented on #303
Hello @olafgrabienski, as explained over Gitter, a LICENSE.txt file needs to be added to the repo:

- [ ] Include a LICENSE.txt file that indicates the code is GPL v2. You can use
[this copy](https://raw.githubusercontent.com/backdrop-ops/contrib/master/examples/LICENSE.txt).
- [x] Include a README.md file that includes license and maintainer information.
You can use [this example](https://raw.git

[2018-10-29 16:22] klonos commented on #302
Enough time has been allowed @BWPanda. I think it is now perfectly OK to add your name to the list of maintainers and take over 😉

[2018-10-29 17:54] BWPanda commented on #302
@klonos Thanks.

[2018-10-29 17:54] #302 closed

[2018-10-30 14:00] olafgrabienski commented on #303
@klonos Thanks for the checklist! I've added the `LICENSE.txt`.

[2018-11-01 11:36] klonos commented on #303
Sorry for the late response @olafgrabienski. Invite underway:

Welcome officially 😄 🎉

[2018-11-01 11:38] klonos commented on #303
...I'm gonna go ahead and close this issue.

[2018-11-01 11:38] #303 closed

[2018-11-01 11:44] olafgrabienski commented on #303
Thanks, and maybe tick the "Include a LICENSE.txt" checkbox. (I've not the permission to edit the comment.)

[2018-11-02 03:06] laryn commented on #294
@jenlampton Has this been discussed by the PMC?

[2018-11-02 18:47] laryn commented on #294
Thanks @herbdool  -- I haven't had a chance to watch yesterday's meetings yet. This is great!

[2018-11-02 18:53] #288 closed

[2018-11-08 20:48] jenlampton commented on #294
Yes, @herbdool and @laryn the PMC voted to allow GPL version3 projects in contrib, when necessary. We're going to update the [new project checklist](https://github.com/backdrop-ops/contrib) shortly, with more info about how and when to use this version.

[2018-11-08 23:33] herbdool commented on #294
What about other licenses? Apache 2.0, other common ones for libraries?

[2018-11-08 23:35] herbdool commented on #294
I think I found my answer for Apache license 2.0 https://www.apache.org/licenses/GPL-compatibility.html. It can be included in GPL 3 projects. So I think we can update the readme to include that.

[2018-11-08 23:39] herbdool commented on #294
Tangent: there is a font library in core that is actually Apache 2.0 https://github.com/backdrop/backdrop/blob/1.x/core/misc/opensans/FONT-LICENSE.txt which seems to be incompatible unless there's an exception for fonts that I'm unaware of.

[2018-11-09 00:00] jenlampton commented on #294
Yes, good idea.

yes, there's something funny about fonts. I think the inheritance doesn't apply?

[2018-11-09 08:02] Pepenauta opened #304 "Porting prism module"
Hi, I have ported prism module. Find it here https://github.com/pepenauta/prism.

[2018-11-09 16:17] kreynen commented on #294
So glad to see this move forward!

For consistency, I would recommend switching to the https://spdx.org/licenses/ format for licensing abbreviations.

So GPL-3.0 vs. GPL v3

It isn't just GPL-3.0, but any library that uses a license that is only compatible with GPL-3.0 like Apache-2.0.  https://www.drupal.org/node/1475972#gplv2-compatible-licenses is the list of most common licenses we run into an

[2018-11-11 11:53] opi opened #305 "Port of Image formatter link to image style"
Drupal module: https://www.drupal.org/project/image_formatter_link_to_image_style

Drupal issue: https://www.drupal.org/project/image_formatter_link_to_image_style/issues/3012889

Work in progress: https://github.com/backdrop-contrib/image_formatter_link_to_image_style

[2018-11-14 21:03] jenlampton commented on #294
I agree. I've cleaned up the last few references for consistency.

Love it...  here's what I landed on: https://github.com/backdrop-ops/contrib#new-project-checklist

I listed some of the most common examples in our docs, to make it a little easier on our contributors, but also included the link to the complete list.

[2018-11-16 22:19] hosef opened #306 "Porting the views_calc module"
I am planning to port the views_calc module to Backdrop so that I can use it on a site I am building.

D.o issue: https://www.drupal.org/project/views_calc/issues/3014385

[2018-11-19 04:44] jenlampton opened #307 "Request to become a maintainer for geocoder"
See my request in the issue queue here:
https://github.com/backdrop-contrib/geocoder/issues/13

[2018-11-19 22:06] hosef opened #308 "Porting the Matomo Analytics module"
I am porting the Matomo analytics to provide it as a feature for a large number of sites that I maintain.

Two issues related to this were created however no repo was created for this module.
https://www.drupal.org/project/matomo/issues/2991223
https://www.drupal.org/project/matomo/issues/2995239

[2018-11-26 19:27] hosef opened #309 "Porting the Real-time SEO module"
I am planning to port the  Real-time SEO module to Backdrop so that I can use it on a site I am building.
This module used to be called the Yoast SEO module, but has been renamed.

D.o issue: https://www.drupal.org/project/yoast_seo/issues/3016214

[2018-11-28 01:06] jenlampton commented on #304
Fantastic, thanks Pepenauta!

[2018-11-28 01:09] jenlampton commented on #297
hah... Well, I need it now :) I may be working on this between now and Jan 1st...

[2018-11-28 17:04] Pepenauta commented on #304
Yes, I would like to be a member of the contrib group.
Thanks Jen.

[2018-11-29 01:42] mrconnerton commented on #297
I have an inital port at https://github.com/mrconnerton/views_field_view folks can test. I haven't ported the actual `viewsFieldViewTestCase` yet.

[2018-11-29 03:16] jenlampton commented on #297
That was fast! :)

[2018-12-05 13:09] korontari opened #310 "Port Request: Views Photo Grid"
There are very few modules that allow to create nice responsive galleries (I know only Masonry view at the moment). This module provides a very nice grid arrangement and is responsive and mobile friendly.

https://www.drupal.org/project/views_photo_grid

 #Port Request

[2018-12-05 13:21] korontari opened #311 "Port Request: PhotoSwipe"
Provides a very good and mobile friendly lightbox functionality. IMHO one of the best lightboxes adapted for Drupal.

https://www.drupal.org/project/photoswipe

[2018-12-05 13:35] docwilmot commented on #310
it's helpful to run the d7 code through Coder Upgrade module, then create a repository on GitHub.

[2018-12-05 13:43] korontari commented on #310
I am sorry I am not a programmer, just a Backdrop user.  I don't understand what you mean here. :)

[2018-12-06 19:48] jenlampton commented on #310
@docwilmot 	This might be something that is worthy of a blog post on backdropcms.org: a brief tutorial on running modules through coder upgrade, for the non-programmers among us!  I'll mention this at the meeting today and see if anyone wants to take this on.

[2018-12-06 20:01] klonos commented on #304
Hello @Pepenauta and sorry for the late response... I have checked and the ported module ticks all boxes re requirements 👍:

- [x] Maintain the Git history from Drupal 7. See
    [this article](http://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-part-2).
- [x] Include a README.md file that includes license and maintainer information.
    You can use [this exam

[2018-12-06 20:22] docwilmot commented on #310
Good point. Also include how to upload to a repository.

[2018-12-07 15:51] Pepenauta commented on #304
Hi @klonos , thanks for the invitation!  I already made the merge and transferred the repository. Bye!

[2018-12-12 02:46] klonos commented on #307
Thanks for offering to take over @jenlampton 👍

...enough time has passed with no response/activity , so I have approved and merged your PR, adding you to the list of maintainers for the module.

Closing this ticket...

[2018-12-12 02:46] #307 closed

[2018-12-12 02:48] klonos commented on #304
...closing this ticket then.

[2018-12-12 02:48] #304 closed

[2018-12-12 04:37] jenlampton commented on #304
Welcome @Pepenauta! It's wonderful to have you :)

[2018-12-23 23:07] stpaultim commented on #297
I just installed this module and embedded a pretty simple view inside of another view. No problems and no error messages. This was not a very complicated test, but for a simple test case this module worked perfectly for me.

[2019-01-19 15:51] aytee commented on #298
This module is ready to submitted.  I would also like to apply as a Contributor at this point.

[2019-01-19 18:13] herbdool commented on #298
@klonos see above. @aytee what's the link to your module?

[2019-01-19 18:17] aytee commented on #298
@herbdool - Should I create a repo on my personal account for it?  I'm a bit perplexed on the process here.

[2019-01-20 21:59] aytee commented on #298
Thanks @herbdool  for the clarification.  Here is the module location:
https://github.com/aytee/imce_rename

[2019-01-21 02:41] klonos commented on #298
I have checked the repo and

- [x] Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0/GPL-3.0.

So approved 👍 ...welcome to Backdrop CMS Contrib @aytee!! 🎉 :

[2019-01-21 04:10] herbdool commented on #298
@aytee I've only looked at the .info file. My suggested changes:

* Don't need to list `files[]` since both `.install` and `.module` get included automatically.
* Instead of `core = 7.x`, it needs to be `backdrop = 1.x`
* Need to add `type = module`

[2019-01-21 04:15] herbdool commented on #298
Also I suggest following the instructions in https://api.backdropcms.org/converting-modules-from-drupal to convert references to Drupal functions to Backdrop, including drupal_, and variable_* and the update hooks.

[2019-01-21 15:58] aytee commented on #298
@herbdool - Apologies for the misfire.  I hadn't actually updated the files in Git properly so you were looking at the Drupal module version with just the README.md and License.txt updated.  I've pushed all those updated files to the repo at https://github.com/aytee/imce_rename .  Thanks for your patience.

[2019-01-23 19:36] Graham-72 commented on #311
@korontari thank you for this recommendation. I have now made an initial port to Backdrop which you will find at https://github.com/backdrop-contrib/photoswipe.

[2019-01-23 20:59] Graham-72 commented on #310
@korontari first you need to create a repository in your personal github account and upload all the module files to there. Give the repository a title and then, under settings, transfer ownership to backdrop-contrib, assuming you have the right permissions to do this. I look forward to seeing your port of this module.

Before you transfer ownership, you can invite others to look at your repository

[2019-01-24 08:16] idflorin opened #312 "Port Request: Views Row Insert"
Views Row Insert

https://www.drupal.org/project/views_row_insert

It can be installed on backdropcms but it does not work. No style option is available after installation.

[2019-01-25 06:03] barneylodge opened #313 "Port Request: address field"

[2019-01-26 00:30] docwilmot commented on #252
Hello @bizmarkdev any plans to move this to Backdrop contrib?

[2019-01-26 12:05] korontari commented on #310
@Graham-72 Thank you very much for your interest and advice! I have made a [repository ](https://github.com/korontari/Views-Photo-Grid) with the code that I ran through Coder Upgrade module. Could you have a look at it and tell if I can transfer ownership to backdrop-contrib?

[2019-01-26 12:11] korontari commented on #311
@Graham-72 thank you for porting the module! I will test it on my sandbox BD installation and provide you with feedback.

[2019-01-26 19:13] jenlampton opened #314 "Port request: field_validation:"
From email:
[code]

[2019-01-26 19:15] jenlampton commented on #314
I took a look at the field_validation module today, thinking that since it was for fields, and fields are mostly unchanged, that it wouldn't be too much work to convert to Backdrop from Drupal.

Unfortunately, it looks like the field_validation module uses ctools heavily, so the conversion is going to be more involved than I thought. I thought this might be a good opportunity to document convertin

[2019-01-26 23:53] jenlampton commented on #314
I pushed a version of field-validation up to https://github.com/backdrop-contrib/field_validation. I'm not sure if it "works" or not, but I got all the ctools bits sorted out. Anyone want to give it a test?

[2019-01-27 19:49] Graham-72 commented on #310
@korontari I will be glad to take a look at your repository during this week.

[2019-01-27 22:42] jenlampton commented on #314
I heard that the module wasn't working, so I took another stab at cleaning up the validator class. I can now get basic rule validation correctly throwing errors, but I could use more help testing. Please [report any issues in the queue](https://github.com/backdrop-contrib/field_validation/issues/new) and I'll take care of them.

[2019-01-27 22:42] #314 closed

[2019-01-28 21:18] salahjaafar commented on #314
sorry but the module does not work

[2019-01-28 21:40] jenlampton commented on #314
I'm sorry, but I'm not able to diagnose "does not work" without more information.

If you could document the problem (by answering the following questions) in the issue queue, I will be able to diagnose and fix any issues: https://github.com/backdrop-contrib/field_validation/issues/new

* What are you trying to do? (please provide steps to follow)
* Is there an error message? It not, what happens?

[2019-01-29 08:09] Graham-72 commented on #310
@korontari I see that the Coder Upgrade module did not convert your javascript file by changing Drupal to Backdrop, but there is just today a new release of Coder Upgrade that will do this. It may be easiest to delete the repository you have just created and start again because of the following consideration.

I suggest you look at https://github.com/backdrop-ops/contrib because there it explains

[2019-01-30 20:57] korontari commented on #310
@Graham-72 Thank you for the in-depth instructions! I have followed the second way and imported D7 code from the link you provided, removed extra branches and created the one for Backdrop which I then updated with code from Coder Upgrade. Could you check it and tell if everything is correct, please?

[2019-01-30 20:58] korontari commented on #310
Here is the link to the repository: https://github.com/korontari/views_photo_grid

[2019-01-30 22:04] Graham-72 commented on #310
@korontari I have had an initial look but I am wondering whether your repository has the code produced by Coder Upgrade? Just looking at views_photo_grid.info suggests something is wrong. Please can you check.

[2019-01-30 22:47] korontari commented on #310
@Graham-72 Sorry, something went wrong. Could you check [the repository](https://github.com/korontari/views_photo_grid) again, please?

[2019-01-31 21:13] jenlampton commented on #313
Addressfield has been ported and has a stable release:
https://github.com/backdrop-contrib/addressfield

[2019-01-31 21:13] #313 closed

[2019-01-31 22:12] bradbulger opened #315 "Port Request: Safeword and/or Machine Name"
Two similar modules. Safeword works in the way you're used to seeing when creating objects with machine names, automatically generated from the title at first, hand editable, stable thereafter. Machine Name is a standalone field. Since Safeword can also derive the machine name from an independent text field, it seems like the broadest solution if I had to pick just one.

[2019-02-03 01:22] alexfinnarn opened #316 "Exiting The Contrib Group"
Hello All.

I used to have a couple of Backdrop sites and also tried to push my employer to adopt Backdrop, but alas, I no longer have Backdrop sites and my employer isn't interested anymore. So, I am removing myself from the contrib group. I'll list all the projects I can remember being a part of.

I helped maintain and have removed my name from the readme:
- https://github.com/backdrop-contrib/x

[2019-02-05 14:28] barneylodge opened #317 "Port Request:Mailhandler"

[2019-02-05 19:05] alexfinnarn commented on #316
Nice to work with you too, @serundeputy! I hope to see you in the Drupal/Lando spaces in the future.

I've left the Backdrop contrib group as of now so I will close this issue. Feel free to DM me if you have any questions for me, and also feel free to fork any of those repos listed above. I think there are some good ideas in there to potentially release.

So long, farewell, Auf Wiedersehen, goodni

[2019-02-05 19:05] #316 closed

[2019-02-07 19:19] jenlampton opened #318 "Port request: navbar"
I think the admin menu of backdrop is great, but I think there is another very great module: the drupal navbar module. I think it has a great user experience; it would be great to port it in backdrop and maybe use it as a default admin menu, or maybe use a mixture between the backdrop admin menu and the drupal navbar module;

This issue was spun off from a comment by @fivepoints79 in
https://githu

[2019-02-07 19:38] jenlampton opened #319 "Port request: admin"
There was a module for Drupal that put the Administration menu on the right hand side of the page, instead of in a drop-down across the top. For the people who still want this functionality, we should consider a port of the Admin Drupal module:
https://www.drupal.org/project/admin

[2019-02-07 20:53] fivepoints79 commented on #319
I think navbar module (https://www.drupal.org/project/navbar) is more "mobile friendly" and has a better user experience (but are my opinions); anyway it would be great to have the admin module too.
thanks.

[2019-02-08 07:33] Graham-72 commented on #310
@korontari I have now had a look at your repository. One thing you will need to do is create a README.md file. Have a look at what other modules have in one of these. Also, your repository will need a short description - there is a field for this in GitHub.
I have installed your module in a test site and found one problem that I don't know how to fix. In the file `views/views_photo_grid_plugin_sty

[2019-02-08 20:09] jenlampton commented on #310
There's a vocabulary name now instead, just like in D7.

On Thu, Feb 7, 2019, 11:33 PM Graham Oliver <notifications@github.com wrote:

[2019-02-09 17:32] Graham-72 commented on #310
@jenlampton thanks but unfortunately I know almost nothing about the inner workings of D7, particularly Views, so not familiar with the term 'vocabulary name'. Is that simply the name given to the view? If so, I'm wondering why the code in question is testing that it is not numeric?

Anyway, I have modified the code so that it tests the value of view['name'] and the module now seems to work withou

[2019-02-09 18:51] jenlampton commented on #310
It's the name given to a Taxonomy Vocabulary. Early in Drupal 7 each had a unique auto-increment number, or `vid`. At the end of Drupal 7 they switched them over to using machine names instead. Backdrop kept the machine names, but dropped the `vid`.

This is a good point - machine names are usually not numeric anymore, so this check is likely preventing the following code from running entirely. Th

[2019-02-10 16:07] herbdool commented on #252
Looks like someone else ported it in the meantime https://backdropcms.org/project/match_redirect

[2019-02-10 17:43] korontari commented on #310
@Graham-72 @jenlampton Thank you for checking out the module repository. I have added a description and  Readme.md file. It is loosely based on what I saw in other BD modules readme files. I marked the Maintainers section as TBD. As to the fix, I am not sure I understand what exactly I should change as I have a zero knowledge of both D7 and Backdrop API's.  I understand that if(!is_numeric($this->

[2019-02-10 19:33] jenlampton opened #320 "Intent to port autocomplete_widgets"
I am going to be using the autocomplete_widgets module on several of my sites. Planning on starting a port shortly.  https://www.drupal.org/project/autocomplete_widgets

Here's the relevant [issue on d.o](https://www.drupal.org/project/autocomplete_widgets/issues/3032225)

[2019-02-10 20:51] Graham-72 commented on #310
@korontari it seems it only needs you to replace 'vid' with 'view' and it will work. So the line should be
`if (!is_numeric($this->view->name)) {`

Perhaps later we will find out the purpose of this test and whether it is still needed.

[2019-02-10 21:14] korontari commented on #310
@Graham-72 Thank you, fixed that!

[2019-02-11 18:09] laryn opened #321 "Maintainer change request for HTML5 Upload"
There's been some recent activity on HTML5 Upload which reminded me that there is an outstanding PR that needs to be merged. I requested a maintainership transfer but never heard back since August 2018:

https://github.com/backdrop-contrib/html5_upload/issues/7

This was a port by @biolithic who has abandoned all of his projects (is my understanding).

[2019-02-11 21:11] jenlampton commented on #251
I've pushed my copy of the CDN module to the contrib group: https://github.com/backdrop-contrib/cdn

[2019-02-11 21:11] #251 closed

[2019-02-11 21:42] klonos commented on #321
That is my understanding also. @jenlampton ??

[2019-02-11 21:50] klonos commented on #252
@jenlampton has already sent an invite to @bizmarkdev to join the contrib group, so I think that it is OK to close this issue.

@bizmarkdev welcome!! 🎉 😄 ...and feel free to port any other module.

[2019-02-11 21:52] jenlampton commented on #321
@laryn yes I think he has a new job.  If he doesn't reply within the 2 week window, @klonos,  It would be good to transfer his projects to anyone who requests one.

[2019-02-11 21:52] klonos commented on #298
@aytee welcome from me too 😄 ...I think that it's OK to close this and have issues reported in https://github.com/aytee/imce_rename/issues

[2019-02-11 21:52] #298 closed

[2019-02-11 21:54] klonos commented on #263
I hope that 2019 has found you in great health @MegaphoneJon. Second friendly ping 😄

[2019-02-11 21:56] klonos commented on #246
This port is complete. Any issues should be reported in https://github.com/backdrop-contrib/filefield_paths/issues

[2019-02-11 21:56] #246 closed

[2019-02-11 22:00] klonos commented on #10
Pathauto is now in Backdrop core 😄. See:

https://github.com/backdrop/backdrop-issues/issues/87
https://github.com/backdrop/backdrop/releases/tag/1.1.0

[2019-02-11 22:00] #10 closed

[2019-02-11 22:05] herbdool commented on #310
I haven't tested but I imagine the view name is never numeric so that if statement needs to be something else. The comment in the code says it is checking if the view is new or not. In D7 I imagine it wouldn't have a vid if it was new. We need to find the equivalent here. Perhaps there's a isNew flag?

[2019-02-11 22:08] jenlampton commented on #310
There is in a `$config` object. Not sure about the view itself.

[2019-02-11 22:31] laryn commented on #321
@jenlampton @klonos  That sounds fine in general, thanks. In the case of this particular module I made the request linked above in August 2018 and have no reply so I think we're safe to transfer it so I can merge the PR from 2017.

[2019-02-11 22:35] laryn commented on #287
Testing on this branch would be appreciated:

https://github.com/backdrop-contrib/field_wrappers/tree/1.x-1.x-issue2

It moves the field wrapper settings into a "Configure" button on the display mode settings:

![screen shot 2019-02-11 at 4 34 35 pm](https://user-images.githubusercontent.com/871421/52598317-fa9aff00-2e1a-11e9-9190-37a40fb83ea7.jpg)

[2019-02-12 02:21] herbdool commented on #310
Good question, @jenlampton. I just tested it and doesn't seem like there is. The view name can't be used either since it exists even before it is saved. I'm not sure what else can be used. Regardless that if statement isn't totally necessary, though without it someone sees the validation message right away, which is a bit annoying.

[2019-02-12 21:41] herbdool commented on #252
Looks like we need your port after all. The other one is mostly empty.

[2019-02-14 11:42] korontari commented on #311
My apologies for taking so much time to respond. I have tested the module recently. While it generally works well I have a couple of issues with it:

1. If added to a view with multiple images the Photoswipe module doesn't recognize it as a gallery. It displays only a single image without the ability to swipe/click to next or previous image. I could make it work by assigning CSS class 'photoswipe-

[2019-02-15 06:27] Graham-72 commented on #311
@korontari thanks for your feedback. I think it would be better to make these as two issues for the module, though not necessarily as bug reports. The second one certainly is a feature or enhancement request and it would be good to include the javascript library within the module provided copyright and licensing permit. I will do some tests regarding your first point which I think is more of a con

[2019-02-17 19:20] Graham-72 commented on #311
@korontari regarding your first point, I have done some more testing and, if using a view built from a group of nodes with one image in each, I cannot get Photoswipe to recognise them as a gallery either in Backdrop or D7. Please can you describe the exact settings you have used for this?

I have a feeling that it may require change to the module's javascript file to get this configuration to work

[2019-02-21 00:38] jenlampton commented on #320
Module is coming along, I've got a working version up here: https://github.com/backdrop-contrib/autocomplete_widgets

[2019-02-21 00:38] #320 closed

[2019-02-21 23:00] ksthomas opened #322 "Request to Join for the purpose of contributing modules"

[2019-02-22 15:51] klonos commented on #322
Hello @ksthomas. Can you please post a link to a module repository for review?

According to our [New Project Checklist](https://github.com/backdrop-ops/contrib#new-project-checklist):

All projects must meet these minimum requirements.

- [ ] Maintain the Git history from Drupal 7. See
    [this article](http://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-par

[2019-02-25 18:47] klonos commented on #311
Lets please close this issue and move all requests and bug reports to https://github.com/backdrop-contrib/photoswipe/issues

[2019-02-25 18:47] #311 closed

[2019-02-25 18:51] klonos commented on #321
Hey @laryn 👋 ...I believe that you're good to go. Feel free to add your name to the list of maintainers.

Lets close this one...

[2019-02-25 18:51] #321 closed

[2019-02-27 16:26] ksthomas commented on #322
This would be a new project that does not exist in the Drupal Repository. How does that change things?

[2019-02-27 17:22] klonos commented on #322
That's perfectly fine @ksthomas, simply start the project under your personal GitHub account, and then post a link to it here. In such cases, the requirement to maintain the Git history from Drupal 7 is of course moot.

[2019-03-15 00:08] #185 closed

[2019-03-15 00:10] jenlampton opened #323 "Amend the Bug Squad and Abandoned projects sections of the README"
As a follow-up to https://github.com/backdrop-ops/contrib/issues/185, We should let everyone review the new contrib readme, and update with feedback and suggestions:
https://github.com/backdrop-ops/contrib

[2019-03-15 00:22] klonos commented on #323
Thoughts/ideas:

- create a bugsquad@backdropcms.org email and forward to people that want to be part of that list.
- create a page in b.org that a) lists current members, b) provides short description of duties/purpose*, c) mentions the email above and Gitter as a form of communication with the squad, and d) links to instructions on how to become a member

* the main points here should be:

[2019-03-15 04:57] stpaultim commented on #323
I approve of this message.

Looks good. Answers my questions.

[2019-03-17 23:12] VasasA opened #324 "Ported Menu Export/Import module"
I ported Menu Export/Import module to Backdrop 1.12.4.
I used these guides:
https://api.backdropcms.org/converting-modules-from-drupal
https://www.lullabot.com/articles/porting-drupal-7-modules-to-backdrop

Finally I setted the "backdrop_drupal_compatibility" to FALSE in the Backdrop's settings.php, and the modul worked properly.
Original Drupal 7 modul:
https://www.drupal.org/project/menu_import

[2019-03-18 17:17] herbdool commented on #324
Thanks @vasasA! @klonos will be able to approve your application once everything is confirmed. I don't have that power but I can make suggestions for making sure the code meets Backdrop standards.

[2019-03-18 17:33] herbdool commented on #324
Code fixes:

* In the .info file remove the version and datestamp as those will be generated automatically with a release.
* Rename to README.md
* The README file needs additional sections: License, Maintainers and Credits. For example https://github.com/backdrop-contrib/project/blob/1.x-1.x/README.md
* First part of README should be module name and can remove $id.
* Put the .test file into the te

[2019-03-18 18:56] klonos commented on #324
Hello @VasasA and thanks for porting the module! 👍

Also thanks @herbdool for the thorough review 👍

@VasasA once you have addressed @herbdool's feedback, here's the minimum requirements your project must meet before being accepted in backdrop-contrib:

- [ ] If porting a Drupal project, Maintain the Git history from Drupal 7. See
    [this article](http://tag1consulting.com/blog/how-maintain-cont

[2019-03-20 11:28] VasasA commented on #324
Dear @herbdool and @klonos,
Thanks a lot for your help! It was very useful. I done all steps, and pushed to the repo. I hope it's right.
What will my next task be?

[2019-03-20 11:57] herbdool commented on #324
Thanks again!

A couple small fixes:

* If you use back ticks around code to have it format properly. https://guides.github.com/features/mastering-markdown/
* Under credits the link your user needs to be fixed.

I'll take a quick look at rest soon.

[2019-03-20 12:16] herbdool commented on #324
One more: no longer need the getInfo() function in the test classes since that is now in .tests.info.

My suggestions shouldn't hold up your module being accepted.

[2019-03-20 12:47] herbdool commented on #317
I assume this is the link https://www.drupal.org/project/mailhandler

[2019-03-20 12:49] herbdool commented on #315
Are you interested in doing the work?

[2019-03-20 12:52] herbdool commented on #245
This looks complete and issue can be closed.

[2019-03-20 12:54] herbdool commented on #212
This issue can be closed.

[2019-03-20 15:00] dmyerson opened #325 "LDAP port request"
https://www.drupal.org/project/ldap - Lightweight Directory Access Protocol

I have the approval to convert a few client websites from D7 to Backdrop, but they use LDAP so that their roughly 600 employees have the same username and password across a variety of applications, not just websites. I haven't looked at the code yet, it's possible I could assist or even do this port myself (it would be my

[2019-03-20 15:10] docwilmot commented on #325
Advice:
- run the D7 code through https://github.com/backdrop-contrib/coder_upgrade
- create a Git repo with that code and tell us where it is, then others can help/advise

p.s. LDAP doesnt seem to have a `*.info` file in its root, which confuses the BackdropCMS.org module list. You may want to create a dummy root file.

[2019-03-20 18:59] bradbulger commented on #315
I haven't looked at them in detail to see if I could justify the time. My immediate user requirements have changed, so this has become more of a nice-to-have. If there's nothing unusually complicated, I think I could get away with porting Safeword.

[2019-03-20 23:51] VasasA commented on #324
Thank, I learn a lot from You! I've done the suggested steps.

[2019-03-21 20:19] jlfranklin commented on #325
I remember trying to use that one in D7.  Never got it to work, and Mike Potter (if I recall correctly) suggested Simple LDAP instead.  I ended up doing a lot of work on Simple LDAP.

@dmyerson, do you have a preference?

[2019-03-22 16:42] dmyerson commented on #325
The existing D7 site uses LDAP and our sysadmin installed and set it up.  Neither has been ported so far but we are just looking for login so maybe the simple version would be enough.

[2019-03-23 09:17] VasasA commented on #324
Dear @klonos,
I think this modul is ready to publis maybe.
https://github.com/VasasA/menu_import
What will my next task be?

[2019-03-25 13:58] jlfranklin commented on #323
Other than searching for your own name on https://backdropcms.org/modules, is there a way to get your current list of maintained projects?

[2019-03-25 19:58] klonos commented on #324
Good job @VasasA 👍 ...last thing: I need you to officially reply to say that you agree with the [Backdrop Contributed Project Agreement](https://github.com/backdrop-ops/contrib#backdrop-contributed-project-agreement)

[2019-03-25 23:16] #212 closed

[2019-03-26 09:29] VasasA commented on #324
Thank You @klonos! I agree with the [Backdrop Contributed Project Agreement](https://github.com/backdrop-ops/contrib#backdrop-contributed-project-agreement)

[2019-03-26 11:32] BWPanda opened #326 "Feeds JSONPath Parser has been ported"
Just FYI :blush:

Repository: https://github.com/backdrop-contrib/feeds_jsonpath_parser
Drupal issue: https://www.drupal.org/project/feeds_jsonpath_parser/issues/3043415

[2019-03-26 11:33] #326 closed

[2019-03-26 21:18] klonos commented on #324
...I have actually jumped the gun and had already sent you an invite to join the backdrop-contrib group (I knew you'd agree 😄):

Welcome onboard 🎉 😄

...once you have moved your project over to backdrop, you should be able to create releases on GitHub, which will automatically create release nodes on backdropcms.org, which will in turn allow the module to show up and installed via the Project Brow

[2019-03-26 21:20] klonos commented on #324
I will go ahead and close this issue, but please feel free to let us know if you are having any problem. Preferred channel for more speedy response is via Gitter: https://gitter.im/backdrop/backdrop-issues

[2019-03-26 21:20] #324 closed

[2019-03-27 12:25] VasasA commented on #324
I'm glad I'm in the group. :smile: I followed the guides, and published a release:
https://backdropcms.org/project/menu_import
It's a nice day for me. :smile: I hope I will be an useful contributor for Backdrop CMS in the future. :blush:
Thank all of You!

[2019-03-27 19:26] klonos commented on #324
Thanks @VasasA 😄

One think you might want to consider is using semantic versioning for your releases. So 1.x-1.7.0 instead of 1.x-1.7.

[2019-03-27 20:17] jenlampton opened #327 "Port request: cleantalk"
This is an anti-spam module recommended by the Drupal community: https://www.drupal.org/project/Cleantalk

[2019-03-28 15:24] idflorin opened #328 "Port request: Video Embed Field"
Video Embed Field
[https://www.drupal.org/project/video_embed_field]
A great way to have videos and video thumbnails.

[2019-03-28 15:28] serundeputy commented on #328
@idflorin video_embed_field lives here: https://github.com/backdrop-contrib/video_embed_field

no official release due to pending issues in the queue; PRs as always are welcome!

FWIW i use the module as is.

[2019-03-28 15:28] #328 closed

[2019-03-28 21:22] jenlampton opened #329 "Set up issue templates for this repository"
Issue templates should include:

* Maintainer application (with requirements for joining)
* Maintainer change request (with steps)
* Port request (with link to d.o, and optional bounty)
* Port status (with links to d.o project and d.o issue)
* New project request (with description, and optional bounty)

[2019-04-02 08:23] VasasA commented on #318
I am working: Porting Navbar module
[https://github.com/VasasA/navbar](https://github.com/VasasA/navbar)

[2019-04-04 07:50] BWPanda opened #330 "Offer to maintain Libraries"
[Libraries](https://github.com/backdrop-contrib/libraries) doesn't list a current maintainer, so I'm offering to take over: https://github.com/backdrop-contrib/libraries/issues/10

[2019-04-04 07:59] klonos commented on #330
Thanks @BWPanda 👍

@jenlampton what should we be doing in such cases where there is no current maintainer? Still wait a couple of weeks as per policy re abandoned projects?

[2019-04-04 08:44] BWPanda commented on #330
I know you didn't ask me (:stuck_out_tongue_winking_eye:), but here's my interpretation of https://github.com/backdrop-ops/contrib#adopting-abandoned-projects

- A module is abandoned if there's no current maintainer listed in the README
- If there is a maintainer listed, you should give them time to respond
  - If they don't respond within two weeks, the module's then considered abandoned
- You d

[2019-04-04 20:08] jenlampton commented on #330
I agree with @BWPanda about abandoned projects, but...

@BWPanda what's your use case for using Libraries module?

It shouldn't be needed on Backdrop sites since libraries **should** be bundled into their parent modules. Backdrop core is our package manager, and using something like Libraries breaks that model.

[2019-04-05 02:19] BWPanda commented on #330
Hmm, I'll have to take a look through my sites to see which use Libraries and  why...

[2019-04-05 04:37] BWPanda commented on #330
So this was the issue I originally had with Libraries: https://github.com/backdrop-contrib/libraries/issues/7 Not sure if its still an issue in core...

But I got around it as explained, and it seems I need to update Views Slideshow Cycle 2 to use core instead of depending on Libraries. That's the only reason I've been using it.

[2019-04-05 05:02] jenlampton commented on #330
Thanks for the link!

Do you use cycle2 for something else on the same site(s) where you are using it in views_slideshow_cycle2?

I'm asking because this seems to be everyone's worry: that bundling a library in too-specific a use case may cause problems. Yet, in the real world I've never had a site that used the same library twice - by two different modules.

I believe @laryn got around this for s

[2019-04-05 05:16] BWPanda commented on #330
Wise words. I remember reading something ages ago in programming about not trying to solve problems before they happen (e.g. we can try to anticipate and account for every possible future scenario, but that'll only lead to enormous amounts of code and an unnecessarily delayed release), but I still struggle to do that sometimes :smiley: So thanks for the advice/reminder to keep it simple.

May I al

[2019-04-05 06:56] jenlampton commented on #330
Yes :)  Can you please file a PR on https://github.com/backdrop-contrib/libraries/issues/10 that adds your name to the README?  I'd be happy to merge it.

[2019-04-05 07:52] BWPanda commented on #330
Done :smiley:

[2019-04-05 13:29] VasasA commented on #318
Dear @jenlampton and @klonos ,
I think I have finished the porting. :smile:
[https://github.com/VasasA/navbar](https://github.com/VasasA/navbar)

[2019-04-06 05:22] #330 closed

[2019-04-07 00:40] klonos commented on #318
Thanks @VasasA 👍

No need to specify a version number. When you create a GitHub release, the Backdrop packaging script will add that automatically for you: https://github.com/VasasA/navbar/pull/5

[2019-04-07 08:28] VasasA commented on #318
Thank You, I merged the PR.
Can I transfer the module to https://github.com/backdrop-contrib/?

[2019-04-07 09:58] VasasA commented on #318
Thank You! I merged the PR, and fixed the error: https://github.com/VasasA/navbar/commit/7e407c96cfe65b2236dd567aae3cdcf170591a95
Can I transfer the module to https://github.com/backdrop-contrib/ ?

[2019-04-07 10:27] BWPanda commented on #318
A few questions:

- There's a lot of icons included here. Can they not be removed and the icons in core used instead?
- What's the difference between/purpose of the two close icons? (Seems to me that you don't need an RTL-specific version...)
- There's quite a few JS libraries included. Are they all actually needed, or does core include some of these now?

[2019-04-07 18:31] klonos commented on #318
@VasasA I have filed a few issues and some PRs against the project, but these do not need to be addressed before you join. All projects that are to be included in backdrop-contrib must meet these minimum requirements, and your port ticks all these:

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer informa

[2019-04-07 18:36] klonos commented on #294
Our [New Project Checklist](https://github.com/backdrop-ops/contrib#new-project-checklist) includes the following:

[code]

Anything else left to be done here?

[2019-04-07 18:42] jenlampton commented on #294
Don't think so!

On Sun, Apr 7, 2019, 11:36 AM Gregory Netsas <notifications@github.com>
wrote:

[2019-04-07 19:19] findlabnet commented on #294
On the same page under [The Backdrop Bug Squad](https://github.com/backdrop-ops/contrib#the-backdrop-bug-squad) line with link

leads to 404

[2019-04-07 19:30] jenlampton commented on #294
Hm. I wonder if that's only visible if you're on it?

On Sun, Apr 7, 2019, 12:20 PM Vladimir <notifications@github.com> wrote:

[2019-04-07 19:36] findlabnet commented on #294
Yes, I'm logged in, if not (in other browser)  - click on this (visible) link opens "Sign in to GitHub" form.

[2019-04-07 21:09] VasasA commented on #318
Dear @BWPanda,
I think the icons and the scripts can be useful when a developer uses the module's API, or the "Administration menu" (admin/structure/menu/manage/management) is changed.

[2019-04-07 21:14] VasasA commented on #318
@klonos Thank You the PRs and issues! I'm working on these. :smile:
I agree with the [Backdrop Contributed Project Agreement](https://github.com/backdrop-ops/contrib#backdrop-contributed-project-agreement).

[2019-04-08 00:02] klonos commented on #318
Sorry @VasasA ...I forgot that you have already ported https://github.com/backdrop-contrib/menu_import and that you are already a member of the Contrib Group 😅

What happens usually is that once you are a member of the Contrib Group, you can create repos for the ports directly under https://github.com/backdrop-contrib. You do not need to create a release if the module is not ready yet.

In other w

[2019-04-09 00:00] VasasA commented on #318
No problem :smile:
I transfered the repo.

[2019-04-09 16:14] davegmk commented on #299
Reopening this after playing with the Gutenberg module for Drupal 8.  It's not perfect but as a simple page builder it shows some initial promise. There seem to be moves towards making Gutenberg CMS agnostic, see:
https://wptavern.com/gutenberg-cloud-team-advocates-for-making-wordpress-orgs-new-block-directory-a-cms-agnostic-library

No idea how much work would be involved in building a Backdrop m

[2019-04-09 16:41] docwilmot commented on #299
Curious, Does this build the entire page (like a layout)? Or does it build the node content area?

[2019-04-09 17:21] jenlampton commented on #299
Neither, it only builds the contents of the body field.

On Tue, Apr 9, 2019, 9:41 AM docwilmot <notifications@github.com> wrote:

[2019-04-09 18:20] davegmk commented on #299
I think WordPress have plans to make Gutenberg into a fully fledged page builder which would deal with layout, sidebars and widgets.

I've certainly seen how builders have transformed how my WordPress clients use their websites.  For complex content layouts they are easier to use than something like Paragraphs.  Paragraphs is great but for complex layouts the UI is not so good.

As Jen says when u

[2019-04-09 19:53] docwilmot commented on #299
We have Flexible Layouts and Node Layouts in contrib and I think we should develop them for core.

[2019-04-17 02:49] stpaultim opened #331 "Request to become maintainer of Teamwork_15 theme"
See:
https://github.com/backdrop-contrib/teamwork_15/issues/1

[2019-04-17 19:49] klonos commented on #331
The currently-listed maintainer of the project has been given enough time to respond. Please go ahead and add yourself to the README as the maintainer 👍

[2019-04-17 19:49] #331 closed

[2019-04-18 18:46] jenlampton commented on #299
I agree, I'd love to see flexible layouts in core, as well as layouts for view-modes (so you can have a two column teaser, for example).

[2019-04-21 13:55] docwilmot commented on #299
A thought:
- the majority of times a site builder would just want to add a new row to a layout, with or without column divisions.
- a lot of the code complexity in Flexible Layout module is because it allows complex nested colums, regions, rows, with draggable separators.
- could we in keeping with our simplicity ideal just allow core to add/remove **rows** only? Those rows could be selectable as

[2019-04-21 14:32] BWPanda commented on #299
@docwilmot I think that's a good idea. If I ever get around to it, I was thinking of using the idea re. Paragraphs posted above. Its the same as what you're suggesting basically; create predefined sections consisting of one or more columns (e.g. banner image, content with right sidebar, 3 33%-wide blocks, etc.) and then the user just adds as many of these down the page as they want (i.e. rows). I

[2019-04-21 22:35] jenlampton commented on #299
We definitely don't need draggable separators in core, but I think adding
columns to rows is important. There's not much difference between adding a
new row with a single column, and adding another block to a single column
layout, which we can already do.

I like @docwilmot's idea of allowing people to choose a width from only the
available bootstrap options, and I think that would simplify things

[2019-04-21 23:27] docwilmot commented on #299
I actually don't understand what you mean @jenlampton. The idea would be to allow users to add our remove full width rows, pre-divided into columns. I'll have to pick up to demo.

Another question I thought of: would it be best to make the block add page flexible like Flexible Layouts now fires, OR have a separate UI where you build a custom layout template, then it save it, and it shows up in the

[2019-04-22 02:19] stpaultim opened #332 "Provide guidelines on best practices for crediting agency for contrib support"
Myself and my colleague of now the co-maintainers of a module and a theme. I'm the owner of Triplo and by definition any work I put into that module is supported by my business. I would like to indicate that Triplo stands behind my work in the Backdrop community.

Are there any guidelines on when and how to list this kind of agency support for the maintenance of a contrib project.

I notice that m

[2019-04-22 03:09] jenlampton commented on #299
Oh, this makes more sense! So instead of allowing people to add columns at the specific widths 2/3/4/6/8/9/10/12, we'd provide a single massive list of all options for rows? Maybe something like the following:
- One column
- Two columns, 10/2
- Two columns, 9/3
- Two columns, 8/4
- Two columns, 6/6
- Two columns, 4/8
- Two columns, 3/9
- Two columns, 2/10
- Three columns, 4/4/4
- Three columns, 2/

[2019-04-22 03:16] docwilmot commented on #299
You got it.
And I also prefer a separate UI.

[2019-04-22 12:29] serundeputy commented on #332
I think this is a good idea.

For the immediate future I think you should list Triplo as a supporter of the modules that you and your colleague maintain in the README.md of those projects.

Long term it would be good to write, figure out where to post (backdropcms.org, backdrop-ops/contrib), and post the guidelines.

[2019-04-25 20:18] jenlampton commented on #332
This should be included on the Credits section of the README.md file (I've been adding it there for companies that directly funded creation or ports of modules).

Is there an example of that in the sample readme file? If not, we should add it there so other people know that it's okay to do.

[2019-05-02 23:02] jenlampton commented on #332
I've updated the example [README.md](https://github.com/backdrop-ops/contrib/blob/master/examples/README.md) file to include a line that credits an agency.

@stpaultim where else would you (did you) look for an answer to this question?

[2019-05-05 13:25] docwilmot commented on #299
https://github.com/backdrop/backdrop/pull/2646

[2019-05-06 11:49] drupol opened #333 "Join request"
Hi all,

I'd like to share some stuff in the Backdrop community, would it be possible to join you ?

The project I'd like to port/maintain is: https://www.drupal.org/project/atomium
Link to the repo: https://github.com/ec-europa/atomium

Thanks.

[2019-05-06 12:14] klonos commented on #333
Hey @drupol 👋 ...according to https://github.com/backdrop-ops/contrib#new-project-checklist, all projects must meet these minimum requirements.

- [ ] If porting a Drupal project, Maintain the Git history from Drupal 7. See
    [this article](http://tag1consulting.com/blog/how-maintain-contrib-modules-drupal-and-backdrop-same-time-part-2).
- [ ] Include a README.md file that includes license and m

[2019-05-06 12:22] klonos commented on #333
- All 7.x commits have been maintained, as the GitHub repo contains the 7.x version(s): https://github.com/ec-europa/atomium/commits

- README.md exists here: https://github.com/ec-europa/atomium/blob/backdrop/README.md ...but the maintainer names are not listed.

- License exists here: https://github.com/ec-europa/atomium/blob/backdrop/LICENCE.txt ...but it is European Union Public Licence, which

[2019-05-06 12:30] klonos commented on #333
https://eupl.eu

[2019-05-09 20:14] quicksketch commented on #333
Thanks @klonos! Reading that document it's a little strange but they outline the situation here:

So bizarrely, we can re-license it as GPL and include it in the Backdrop repository but only if it had a new name?

If that is the case, it also looks like the Drupal theme is in violation of Drupal's requirement of a GPL license. https://www.drupal.org/about/licensing#project-licensing

[2019-05-10 04:34] quicksketch commented on #333
I'm reading over the entire license file and here's the specific part of the license for "compatible licenses":

https://github.com/ec-europa/atomium/blob/7.x-3.x/LICENCE.txt

   Derivative Works or copies thereof based upon both the Original Work and
   another work licensed under a Compatible Licence, this Distribution and/or
   Communication can be done under the terms of this Compatible Licenc

[2019-05-10 07:13] drupol commented on #333
* Updated the LICENSE.txt (not LICENCE.txt)
* Added some paragraphs to README.md about current maintainers, credits and licencing.

[2019-05-10 20:25] klonos commented on #333
Hello @drupol ...with the latest changes to the README, and with the change of the license to GPL-2, all checkboxes have been ticked! Invite is underway:

Officially welcome to the Backdrop Contrib group! 🎉

[2019-05-10 21:07] drupol commented on #333
Thanks :heart: !!!

[2019-05-11 01:00] klonos commented on #333
😉

...closing this one then.

[2019-05-11 01:00] #333 closed

[2019-05-11 01:07] klonos opened #334 "Bug Squad team members are not visible without a GitHub account"
This was reported in https://github.com/backdrop-ops/contrib/issues/294#issuecomment-480621061 by @findlabnet:

@jenlampton:

@findlabnet

[2019-05-11 01:08] klonos commented on #294
Closing this one then. @findlabnet I have filed #334 for the problem with the link to the team members. Thanks for bringing that to our attention 👍

[2019-05-11 01:08] #294 closed

[2019-05-11 01:10] klonos commented on #334
This is easily reproducible, if you visit https://github.com/orgs/backdrop-ops/teams/bug-squad/members as anonymous (not logged into any GitLab account).

These might help:

https://help.github.com/en/articles/publicizing-or-hiding-organization-membership

https://help.github.com/en/articles/changing-team-visibility

[2019-05-11 01:11] klonos commented on #334
...worth noting that:

[2019-05-11 01:36] klonos commented on #334
It seems to me that team member visibility can only be set among the members of the same organization (which implies having a GitHub account). I could not find any documentation on how to achieve showing these members publicly.

Perhaps we can pull this info somehow using the GitHub API? ...don't really know.

[2019-05-11 03:01] klonos commented on #334
I was referring to displaying that info on b.org.

[2019-05-14 19:08] jenlampton opened #336 "Port request for Adminimal theme"
As mentioned in today's Virtual User Group meeting. we would like to see a copy of Adminimal for Backdrop.

[2019-05-16 16:34] serundeputy commented on #223
closing.

[2019-05-16 16:34] #223 closed

[2019-05-29 08:47] salahjaafar commented on #314
this message appears when using the field validation module for the single value:
Fatal error:  Call to undefined function ctools_include() in /opt/lampp_5.5.19-0/htdocs/stdobp/modules/field_validation/property_validation/property_validation.module on line 43

[2019-05-29 08:53] salahjaafar opened #337 "unique field not working"
Hello,
I would like to use the Unique field module https://www.drupal.org/project/unique_field but it is not functional even after modifying the .info file

[2019-05-30 06:24] jenlampton commented on #337
Hi @salahjaafar
Have you tried using the coder upgrade module? I know some people have had luck with that.

It could be that the unique field module is a little more nuanced and needs a little more love. Please see https://api.backdropcms.org/converting-modules-from-drupal for all the details.

[2019-05-30 09:10] salahjaafar commented on #337
I tried to adapt the module but I did not succeed
[unique_field.tar.gz](https://github.com/backdrop-ops/contrib/files/3236269/unique_field.tar.gz)

[2019-06-13 08:23] salahjaafar opened #338 "Notice : Array to string conversion dans _options_storage_to_form()"
this error appears

Notice : Array to string conversion dans _options_storage_to_form() (ligne 315 dans /opt/lampp_5.5.19-0/htdocs/core/modules/field/modules/options/options.module).

[2019-06-13 20:18] jenlampton commented on #338
Hi @salahjaafar, can you please post this issue in the core queue? Since the error references 'core' that's likely where the problem lies.

There are also issue templates in that queue that will help you create an issue that people can use to find and resolve your issue: https://github.com/backdrop/backdrop-issues/issues/new/choose

(We can sometimes transfer the issues for you, but sadly that won

[2019-06-13 22:08] salahjaafar commented on #338
Thank you for your reply,
I put the mistake in the part you mentioned

[2019-06-18 13:24] korontari opened #339 "Maintainer application: Mosaic Grid module"
Hello!

I have been working on a module that would provide a nice image gallery based on views. This is what I came up with: https://github.com/korontari/mosaic_grid.

I would be grateful for a code review and testing it as well as any advice for improvement (I am not a pro coder). I would also appreciate any license check. There are two jQuery libraries in this module that are covered by MIT lice

[2019-06-18 14:49] docwilmot commented on #310
What exactly happened to this port? Sounded useful.

[2019-06-18 21:16] korontari commented on #310
On my side I couldn't make it work properly. The grid sometimes appear with images overlapping and grid layout changes considerably every time the page is reloaded. I am not sure but it seems there is a problem with jQuery plugin, not Backdrop implementation. I found it easier to switch to another plugin with similar functionality.

[2019-06-20 23:42] jenlampton commented on #338
Thank you!

[2019-06-20 23:42] #338 closed

[2019-06-23 23:06] VasasA commented on #337
@salahjaafar I converted Unique Field module and published today:
https://backdropcms.org/project/unique_field

[2019-06-27 13:59] oadaeh commented on #309
Here is the ported module: https://github.com/backdrop-contrib/realtime_seo
There has not yet been a stable release tagged.

[2019-07-02 10:47] Harzah2 opened #340 "Application to join: Harzah2 (bbcode module)"
I would like to apply to join the Backdrop contrib team.

Here is a module I ported: https://github.com/Harzah2/bbcode

[LICENSE.txt](https://github.com/backdrop-ops/contrib/files/3349653/LICENSE.txt)

[README.txt](https://github.com/backdrop-ops/contrib/files/3349655/README.txt)

[2019-07-06 11:41] salahjaafar commented on #337
Bravo! I will try to work with this module

Le lun. 24 juin 2019 à 00:06, Attila Vasas <notifications@github.com> a
écrit :

[2019-07-09 16:37] klonos commented on #340
Hello @Harzah2 and thank you for porting this.

A few things:

- Out of curtesy, when porting a module from 7.x, we usually [file a ticket against the d.org issue queue of that project](https://www.drupal.org/node/add/project-issue/bbcode), to let the original project maintainer(s) know our intention to port it to Backdrop. Please allow the maintainer(s) some time to respond, in case they want to

[2019-07-09 16:58] klonos commented on #340
...so here's a few suggestions:

- Remove the current `master` branch, or at least make 1.x-1.x the default.
- Remove the non-Backdrop releases from https://github.com/Harzah2/bbcode/releases (unless you are planning to become the maintainer of the D7 module as well)
- Remove the 1.x-1.x release. It's better to wait for the project to be approved and moved to https://github.com/backdrop-contrib an

[2019-07-10 07:33] stpaultim opened #341 "Port Request: Block Background Color"
Here is the Drupal Module:
https://www.drupal.org/project/block_background_color

I set up a repo on backdrop-contrib:
https://github.com/backdrop-contrib/block_background_color

I have suggested that this feature might be a useful core feature.
https://github.com/backdrop/backdrop-issues/issues/3918

I am interested in a feature like this for a contrib module I am working on:
https://github.com/b

[2019-07-18 07:39] BWPanda opened #342 "Request for Chart.js module"
It'd be nice to have a module that provided https://www.chartjs.org charts/graphs. Then we could use it here: https://github.com/backdrop-ops/backdropcms.org/issues/569

If anyone wants to write one (or port a Drupal one), feel free :slightly_smiling_face:

[2019-07-18 13:33] docwilmot commented on #342
Ran the [Drupal Charts module](https://www.drupal.org/project/charts) through Coder Upgrade this morning to see if it would work right away. Installed fine, and all settings and Views plugins show up, but no charts yet. Will push the code up this evening after work so someone can finish it.

[2019-07-20 18:41] TonyTheFerg commented on #34
@richie-harris-smc have you made any more progress on a 1:1 port of commerce 1?

[2019-07-20 19:18] docwilmot commented on #34
@TonyTheFerg I passed Commerce through Coder Upgrade and fixed a few basic things just to get it to install without error. Its here: https://github.com/backdrop-contrib/commerce

I had reached out to @rszrama here https://github.com/codewombat/backshop/issues to let him know.

Thats about as much as I intended to do there. I dont feel confident I know enough about something as touchy as ecommerce

[2019-07-25 00:45] klonos commented on #341
Hey @nitheesh 👋 ...let me know if you need help applying to become a Backdrop Contrib maintainer 😉

[2019-07-25 01:35] stpaultim opened #343 "Intent to Port: Taxonomy Access Control Lite (tac_lite)"
I created a project:
https://github.com/backdrop-contrib/tac_lite

I ran the module through coder upgrader and posted a note in the D7 issue queue:
https://www.drupal.org/project/tac_lite

Hoping that this module will help solve this need:
https://forum.backdropcms.org/forum/what-modules-are-used-backdrop-forum

[2019-07-25 04:30] stpaultim commented on #341
This is complete. @nitheesh responded to my request and helped port this module. He has also expressed interest in becoming the maintainer of this module.

I've invited him to apply to become a maintainer.

I'll close this issue.

[2019-07-25 04:30] #341 closed

[2019-07-25 08:10] BWPanda opened #344 "Make a 'template repository'? (or three)"
I just noticed this (new?) setting in GitHub: https://help.github.com/en/articles/creating-a-template-repository

![image](https://user-images.githubusercontent.com/2385329/61856978-e714b980-aecb-11e9-8c96-6c78b4d8e396.png)

Wonder if this would be a good idea for this repo? Then module developers could [create new repositories](https://help.github.com/en/articles/creating-a-repository-from-a-temp

[2019-07-25 09:44] nitheesh commented on #341
Thanks, @stpaultim @klonos. I'm very glad to be part of the Backdrop Contrib team. Let me know the process.

[2019-07-25 10:19] nitheesh opened #345 "Application to join Backdrop contrib"
The original request was made as part of the issue - https://github.com/backdrop-ops/contrib/issues/341. I've worked with @stpaultim to port the [Block Background Color](https://github.com/backdrop-contrib/block_background_color) module from [D.O](https://www.drupal.org/project/block_background_color).

I would like to become a maintainer at Backdrop contrib. Let me know if anything else I need to

[2019-07-25 20:24] klonos commented on #345
All requirements met:

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0

So welcome onboard @nitheesh 🎉 🙂

[2019-07-25 20:34] #345 closed

[2019-07-26 05:38] stpaultim opened #346 "Intent/Request to port Forum Access module"
I'm going to help get this port started. But, please anyone feel free to jump it at anytime to help save me from this madness. :-)

https://www.drupal.org/project/forum_access

I'm going to run this through Coder Upgrader to help get started on a solution to this problem: https://forum.backdropcms.org/forum/what-modules-are-used-backdrop-forum

[2019-07-26 06:31] stpaultim opened #347 "Request for Chain Menu Access API"
In response to the discussion about access control for forums and an interest in the Forum Access module, I started the process: https://forum.backdropcms.org/forum/what-modules-are-used-backdrop-forum

However, I then realized that Forum Access is dependent upon Chain Menu Access API, which is not yet ported.

https://www.drupal.org/project/chain_menu_access

[2019-07-31 19:40] VasasA commented on #325
@dmyerson You can try this unfinished version: https://github.com/VasasA/simple_ldap
You can configure the Simple LDAP module, login with an LDAP user, and delete an LDAP user by Backdrop.
You have to enable the compatibility mode in the BACKDROP_ROOT/settings.php:
`$settings['backdrop_drupal_compatibility'] = TRUE;`

[2019-08-13 08:56] BWPanda commented on #118
I think we can close this as I'm sure the module has progressed past the issue @Graham-72 had back in 2015, and the module is part of the backdrop-contrib repo now.

[2019-08-13 08:56] BWPanda commented on #118
But I lack the permissions to close issues here...

[2019-08-13 09:00] BWPanda commented on #120
@Graham-72 What's the status here? I see a few modules in backdrop-contrib now, and more in your personal repos...

[2019-08-13 09:35] olafgrabienski commented on #120
@BWPanda The [Beautytips](https://github.com/backdrop-contrib/beautytips) module was ported by @Graham-72 and it has already a second release.

I'm using Beautytips on a production site, together with [Beautytips Node](https://github.com/backdrop-contrib/beautytips_node). Both modules have still some issues but the basics work fine.

[2019-08-13 21:21] Graham-72 commented on #118
It seems I can close this. The ported module is at https://github.com/backdrop-contrib/eu_cookie_compliance.

[2019-08-13 21:21] #118 closed

[2019-08-24 09:53] BWPanda opened #348 "Offer to maintain Insert module"
With no current maintainer listed in the README, and the issues/PRs piling up, I'd like to offer to maintain the [Insert](https://github.com/backdrop-contrib/insert) module: https://github.com/backdrop-contrib/insert/issues/8

[2019-08-25 12:09] BWPanda commented on #348
@herbdool made me a maintainer.

[2019-08-25 12:09] #348 closed

[2019-08-26 01:49] stpaultim opened #349 "Module Port Request: Accordion Blocks"
https://www.drupal.org/project/accordion_blocks

I have suggested this as a possible core feature:
https://github.com/backdrop/backdrop-issues/issues/3995

[2019-08-26 08:25] olafgrabienski commented on #349
@stpaultim Have you also considered to port https://www.drupal.org/project/collapsiblock instead? With *Accordion Block* you create a special accordion block, *Collabsiblock* provides an "collapsible" option for every block. And release-wise, the latter is more up to date.

[2019-08-27 10:48] indigoxela opened #350 "Request to join backdrop contrib team"
I wrote a Backdrop module to export iCal feeds using views: https://github.com/indigoxela/viewsicalexport

It's not actually a port, but is a complete rewrite of Drupal [Date iCal](https://www.drupal.org/project/date_ical) with less features and no external library dependencies.

There is already a [full port](https://github.com/backdrop-contrib/date_ical) for that module, but unfortunately it has

[2019-08-27 12:12] klonos commented on #350
Hey @indigoxela 👋 ...please bear with me as I double-check with the rest of the team re the process when the contrib module is not a port (this case is not covered in https://github.com/backdrop-ops/contrib#new-project-checklist)

In the meantime, may I suggest that you rename the module to `views_ical_export` (this is not a requirement at all - just my personal opinion that it would make the name

[2019-08-27 12:57] indigoxela commented on #350
@klonos:

No problem, no need to hurry. ;)

Using underscores for module directories was always called "bad practice" in Drupal. Are underscores preferred in Backdrop? Can't seem to find the guidelines for that.

@herbdool:

You're welcome.

[2019-08-27 21:03] kelizoliva opened #351 "Port Request: role_delegation module"
I would like to get the [Role Delegation](https://www.drupal.org/project/role_delegation) module ported. I have created [this issue](https://www.drupal.org/project/role_delegation/issues/3077306) on Drupal.org.

I have done the[ initial port](https://github.com/kelizoliva/role_delegation) which went mostly fine, but I am running into issues with how users are handled in Backdrop vs. Drupal 7. Woul

[2019-08-28 13:31] klonos commented on #351
Hey, welcome @kelizoliva 👋 and thanks for letting the original maintainers know, by raising that d.org issue. You may want to consider to offer them to (co-)maintain the Backdrop port either now or in the future if they decide to.

...here's the list of requirements for new applications/projects, as per https://github.com/backdrop-ops/contrib#new-project-checklist:

- [x] If porting a Drupal proje

[2019-08-29 08:14] indigoxela commented on #350
@herbdool that's an interesting point. I don't think, this class needs hook_autoload_info, as it is included in the .module file.
The hook is necessary, if the class is defined in an extra .inc or .php file.
Comparable to the files[] property in Drupal info files.
class_exists() returns true. ;)

[2019-08-30 09:59] olafgrabienski commented on #350
@klonos Have you been able to check the requirements for the contrib team application in this case? And/or are there other open questions?

(I'd like to use the Views iCal Export module, and I'd prefer to use it as an official contrib version.)

[2019-08-30 17:36] klonos commented on #350
Yes, I have. It's basically the same as the requests when porting existing D7 projects, minus the "maintain the Git history from Drupal 7" requirement of course.

- [x] ~~If porting a Drupal project, maintain the Git history from Drupal 7.~~ new, Backdrop-only module - not a port.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that

[2019-08-30 17:47] klonos commented on #349
https://www.drupal.org/project/accordion_blocks

If I am reading this correctly, this sounds like collapsible "regions" ...all blocks added to an accordion "widget" will be wrapped in an accordion - so 1 single click hides multiple blocks in one go.

...whereas https://www.drupal.org/project/collapsiblock works as a setting for each individual block:

[2019-08-30 17:50] klonos commented on #89
Hello @alex-kirienko 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:50] #89 closed

[2019-08-30 17:51] klonos commented on #47
Hello @mkalkbrenner 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:51] #47 closed

[2019-08-30 17:53] klonos commented on #114
Hello @gauravjeet 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:53] #114 closed

[2019-08-30 17:54] klonos commented on #21
Hello @targoo 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:54] #21 closed

[2019-08-30 17:56] klonos commented on #117
I think it's safe to close this one. Thanks for working on the Backdrop book @Drupal8Todd 👍

[2019-08-30 17:56] #117 closed

[2019-08-30 17:57] klonos commented on #142
Hello @MrHaroldA 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:57] #142 closed

[2019-08-30 17:57] klonos commented on #156
Hello @asherry 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:57] #156 closed

[2019-08-30 17:58] klonos commented on #153
Hello @pifbits 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:58] #153 closed

[2019-08-30 17:59] klonos commented on #158
Hello @davidvina 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 17:59] #158 closed

[2019-08-30 18:00] klonos commented on #168
Hello @ElliotChristenson 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:00] #168 closed

[2019-08-30 18:02] klonos commented on #178
Hey @rszrama 👋 ...are you still interested to move this theme to Backdrop Contrib?

[2019-08-30 18:03] klonos commented on #175
Hello @Scoppettuolo 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:03] #175 closed

[2019-08-30 18:04] klonos commented on #125
I believe that it's safe to close this one.

[2019-08-30 18:04] #125 closed

[2019-08-30 18:05] klonos commented on #231
Hey @Steve-A-Orr 👋 ...I will go ahead and close this one, but please feel free to reopen and provide a link to a repository with any code for consideration.

[2019-08-30 18:05] #231 closed

[2019-08-30 18:06] klonos commented on #196
Hello @les-lim 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:06] #196 closed

[2019-08-30 18:07] klonos commented on #217
Hello @geru 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:07] #217 closed

[2019-08-30 18:08] klonos commented on #257
Hello @iyyappanuni 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:08] #257 closed

[2019-08-30 18:08] klonos commented on #263
Hello @MegaphoneJon 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:08] #263 closed

[2019-08-30 18:10] klonos commented on #318
I think we can close this one. Thanks @VasasA for all your work on porting modules to Backdrop 👍 🙂

[2019-08-30 18:10] #318 closed

[2019-08-30 18:10] klonos commented on #322
Hello @ksthomas 👋 ...it's been quite a while without your response here, so I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:10] #322 closed

[2019-08-30 18:11] klonos commented on #310
Hello @korontari 👋 ...I will go ahead and close this one. Please feel free to reopen if you decide to work on this again.

[2019-08-30 18:11] #310 closed

[2019-08-30 18:14] klonos commented on #339
Sorry for the really late response on this one @korontari 😓

- [x] ~~If porting a Drupal project, Maintain the Git history from Drupal 7.~~ new, Backdrop-only module - not a D7 port.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0 (or in rare cases GPL-3.0)

[2019-08-30 18:16] klonos commented on #339
...welcome to the Backdrop Contrib Group 🎉

[2019-08-30 20:01] MegaphoneJon commented on #263
Thanks @klonos - I was contacted by @jackalope just last month, and we discussed that Palante Tech would take over this port.

[2019-08-30 23:20] kelizoliva commented on #351
Noted, and I have!

I have added LICENSE.txt and renamed README, removed CHANGELOG.

I have not, but I am checking those out now!

I only quickly performed the initial port steps to see how things fared. With this additional information, I will try to get working module going. Thank you!

[2019-08-31 14:22] indigoxela commented on #350
In the meantime I have moved my module to backdrop-contrib and added a release.
https://backdropcms.org/project/viewsicalexport

[2019-08-31 14:22] #350 closed

[2019-09-01 12:43] korontari commented on #339
Thank you and no worries about late response. I understand it takes time to go through all the issues.
So should I now transfer my module repository to backdrop-contrib?

[2019-09-02 09:47] olafgrabienski commented on #178
The theme looks cool at first sight. Would be nice to have it in Backdrop contrib!

[2019-09-04 13:27] VasasA commented on #325
Simple LDAP module is available for Backdrop: https://backdropcms.org/project/simple_ldap

[2019-09-05 07:42] mazzech opened #353 "Port request: Feeds Tamper"
This module would be a great addition to contrib, several import scenarios are not covered by Feeds module itself, e.g. multi field values, find & replace strings, image import. A solid import function could be a real advantage for Backdrop, i have several D7 installations where customers make CSV imports on a regular basis (which is not possible in D8 yet, unless they fiddle around with Migration

[2019-09-05 23:42] kelizoliva commented on #351
I've performed a deeper dive into the code and Backdrop API, and I believe I have most everything changed correctly for Backdrop (I did run the Coder Upgrade and Coder Review modules, thank you!).

There are [two outstanding issues](https://github.com/kelizoliva/role_delegation/issues) that I am feeling pretty stuck on. They are major issues, in that the module will be non-functional until these i

[2019-09-06 19:25] rszrama commented on #178
Happy to push it over the hump with a little support. I haven't touched it in a few years, so I can't be certain it doesn't need a little work before it's officially contributed. : )

[2019-09-09 13:57] mazzech opened #354 "Port Request "Contact Info""
Small module, but great help not only for sitebuilding, but even more for maintaining sites over the years. https://www.drupal.org/project/contactinfo.

I asked on drupal.org if the maintainer is interested in porting it to Backdrop. If not, I might be trying to port it, I could be a rather easy, first-time module port.

[2019-09-09 19:23] klonos opened #355 "Porting "Link iframe Formatter""
There was a [request in the forum](https://forum.backdropcms.org/forum/substitute-d7-link-iframe-formatter) for any equivalent module:

https://www.drupal.org/project/link_iframe_formatter

Seems like a small one, so I think I may take a crack at it...

[2019-09-09 19:27] klonos commented on #355
...I have notified the D7 maintainers, in case they are interested to join.

[2019-09-10 19:54] stpaultim commented on #355
I was going to recommend that the user post a port request, when I noticed that @klonos beat them to it. If @klonos doesn't get to it, I may give this a try. But, I won't have time for at least a few days.

[2019-09-11 00:06] laryn commented on #227
https://github.com/backdrop-contrib/image_resize_filter

[2019-09-11 01:03] OpsTao opened #356 "Port request: "Colorbox Node""
As a companion to Colorbox, this would be a valuable addition.
[Currently available for D7: https://www.drupal.org/project/colorbox_node]

[2019-09-11 03:52] #227 closed

[2019-09-14 03:31] stpaultim commented on #355
Actually, I was going to work on this module, when I found an existing project without an official release: https://github.com/backdrop-contrib/iframe

If the iframe module accomplishes the same thing, we should simply work on getting a release for that one. Any thoughts? Am I missing anything?

I've asked if there is anything I can do to help generate an official release of that module. No point

[2019-09-16 18:15] jenlampton opened #357 "Working on google tag manager"
@kthull and I are working on a port of GoogleTagManager module
https://github.com/kthull/google_tag

Drupal project
https://www.drupal.org/project/google_tag

Looks like we still need a d.o issue...
https://www.drupal.org/project/issues/google_tag?text=backdrop

[2019-09-16 18:18] jenlampton opened #358 "Working on a port of ImageMagick"
@kthull and I are working on a port of ImageMagick module
https://github.com/kthull/imagemagick

Drupal project:
https://www.drupal.org/project/imagemagick

Looks like we still need to create a d.o issue:
https://www.drupal.org/project/issues/imagemagick?text=backdrop&status=All

[2019-09-16 20:56] olafgrabienski commented on #178
Great, @rszrama! Which kind of support would help?

[2019-09-16 21:17] klonos commented on #178
@rszrama if you moved the project under https://github.com/backdrop-contrib and asked for co-maintainers, I'm sure people would offer to help 😉

[2019-09-17 03:37] kthull opened #359 "Application to join Backdrop contrib"
I'm working with @jenlampton on two module ports so I should officially apply here as well.

- [ImageMagick](https://github.com/kthull/imagemagick) - https://github.com/backdrop-ops/contrib/issues/358
- [Google Tag](https://github.com/kthull/google_tag) - https://github.com/backdrop-ops/contrib/issues/357.

I'll submit the d.o issues shortly.

[2019-09-17 03:49] kthull commented on #357
d.o issue created: https://www.drupal.org/project/google_tag/issues/3081660

[2019-09-17 03:50] kthull commented on #358
d.o issue created here: https://www.drupal.org/project/imagemagick/issues/3081661

[2019-09-17 16:45] klonos commented on #339
Hello again @korontari 👋 yes, you should transfer the project https://github.com/backdrop-contrib. There's instructions on how to do that here: https://github.com/backdrop-ops/contrib#what-to-do-after-your-application-is-accepted

This will allow you to create releases, which will then make the module available in b.org, and in the Project Browser 😉

Let us know if you need any help with anything.

[2019-09-17 17:02] klonos commented on #351
Hello @kelizoliva 👋 ...sorry for the late response, but life's been busy lately (working on the latest 1.14 release 😄). I have checked the port, and all remaining checkboxes have been ticked 👍

There is no need for any remaining issues to hold up moving the project to https://github.com/backdrop-contrib, so I have sent you an invite:

Welcome to Backdrop Contrib! 🎉

Perhaps you can consider joinin

[2019-09-17 20:38] kthull commented on #359
d.o issues have been filed as noted on each of the above tickets

[2019-09-17 21:01] kelizoliva commented on #351
Fantastic, thank you Gregory! I will close this ticket now and move the repository into  Backdrop Contrib to continue work on it. :)

[2019-09-17 21:01] #351 closed

[2019-09-20 04:34] jenlampton opened #360 "I'm making a global climate strike module."
It should be up in 5 mins or so.

[2019-09-20 04:47] jenlampton commented on #360
Module is up https://github.com/backdrop-contrib/globalclimatestrike/releases/tag/1.x-1.0.0

[2019-09-20 04:47] #360 closed

[2019-09-20 09:20] korontari commented on #339
Thank you @klonos! I have transferred the repository and made a release. I wonder what is the Security release? And should be the code of the new module be checked by the Bug Squad?

[2019-09-20 20:30] stpaultim commented on #360
FYI  - I assume this just implements the Javascript available on this page.
https://digital.globalclimatestrike.net

[2019-09-20 20:36] jenlampton commented on #360
Yep, and it has a settings page so you can choose whether you want the X so people can get around it or not :)

[2019-09-25 17:46] korontari commented on #358
I was about to post a port request for ImageMagick module and found that it is already being worked on. Awesome! I very much anticipate it. :+1:

[2019-09-25 19:52] klonos commented on #339
Hey @korontari 👋

If you mean how you can mark a release of your project as a security release, then this is done via the release node on backdropcms.org ...once you have made a release that needs to be marked as security, please let someone [on Gitter](https://gitter.im/backdrop/backdrop-issues) know, and we'll do that for you.

This is not a requirement, no. But you can request help for any issu

[2019-10-09 13:43] Graham-72 commented on #120
The module's repository is at https://github.com/backdrop-contrib/beautytips.

[2019-10-09 13:43] #120 closed

[2019-10-14 00:30] AlexShapka opened #361 "Porting the Search Krumo module."
Drupal 7's [Search Kurmo](https://www.drupal.org/project/search_krumo) module works out of the box on Backdrop just after cloning it with git and enabling with drush. However, since the module list on `/admin/modules/list` is giving `not compatible` notice, I'd like to properly port the module to Backdrop.

The respective issue on D.O. is https://www.drupal.org/project/search_krumo/issues/2843730#

[2019-10-14 00:53] AlexShapka opened #362 "Backdrop Contributed Project Group Application"
I agree to the Backdrop Contributed Project Agreement. As stated on https://github.com/backdrop-ops/contrib/issues/361 I'd like to port my first Drupal 7 module. In fact, I already have working code ported, but don't know where to push it to.

[2019-10-14 01:42] AlexShapka commented on #361
It's ready on https://github.com/AlexShapka/search_krumo

[2019-10-14 01:43] klonos commented on #362
Thanks @AlexShapka 👍 ...please push it to your own GitHub repo, and then post a link to it here. We will then review it and provide feedback. If everything checks out, you will be invited to the https://github.com/backdrop-contrib group, and will be able to transfer the project there 😉

Please let us know either here or on Gitter if you need any help.

[2019-10-14 01:43] AlexShapka commented on #362
It's ready on https://github.com/AlexShapka/search_krumo

[2019-10-14 18:59] klonos commented on #362
Hello @AlexShapka 👋 I have checked the repo, and it meets the minimum requirements:

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7
- [x] Include a README.md file that includes license and maintainer information
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0

Invite is underway:

Welcome to the Backdrop Contrib group! 🎉 ...I hope you have

[2019-10-14 19:02] klonos commented on #362
...you can now move the repo under https://github.com/orgs/backdrop-contrib (see https://github.com/backdrop-ops/contrib#what-to-do-after-your-application-is-accepted). Once you have done that, and have created a release, it will show up in backdropcms.org + also be available in the Project Browser for people to install it 😉

[2019-10-14 19:17] AlexShapka commented on #362
Thanks a lot Greg! I will start reading how to get it moved to contribs.

[2019-10-14 19:24] AlexShapka commented on #362
Done https://github.com/backdrop-contrib/search_krumo I believe we can now close this issue. Again thank you very much, Greg!

[2019-10-14 19:24] #362 closed

[2019-10-15 12:42] BWPanda opened #363 "'Trash' module"
I had an idea for a 'trash' module for Backdrop. It would provide a 'soft delete' ability for content so that deleting something isn't permanent (until it's removed from trash). Basically the same as the trash can on your computer. Here're some thoughts:

It would provide a way of marking nodes, comments and terms (not sure about other entities like layouts, users, etc.) as 'trashed'. 'Trashed' en

[2019-10-15 12:49] docwilmot commented on #363
Ideally we need [revision states](https://www.drupal.org/project/drupal/issues/218755) in core. That would allow Draft, Live, Trashed, Moderated, Waiting Moderation, etc etc; all kinds of configurable states for (Node) Entities.

[2019-10-15 12:58] BWPanda commented on #363
@docwilmot Is there a Backdrop core issue for that?

[2019-10-15 13:15] docwilmot commented on #363
Not that I know of

[2019-10-15 15:55] klonos commented on #363
Why are you asking @docwilmot man? 😛 ...you know I'm the man 😅 ...of course there is: https://github.com/backdrop/backdrop-issues/issues/2498 😉

[2019-10-15 16:08] BWPanda commented on #363
Ha, well there you go. Guess we can close this in favour of that core issue then.

[2019-10-15 16:08] #363 closed

[2019-10-15 21:41] docwilmot commented on #363
But!
There isn't really an issue for [revision states](https://www.drupal.org/project/drupal/issues/218755) in core though. That issue is about trash 😄
Do we have an issue specifically for revisions @klonos? or is that issue re-purposable?

[2019-10-16 00:12] jenlampton opened #364 "Port of minify module"
Hi friends!
I'm working on a port of minify module for Backdrop: https://www.drupal.org/project/minify

d.o issue: https://www.drupal.org/project/minify/issues/3088174

[2019-10-17 15:58] olafgrabienski commented on #262
The module is ready for quite a while, see https://github.com/backdrop-contrib/footnotes.

@klonos Can you change the label respectively? (I don't have the permissions.)

[2019-10-17 15:58] #262 closed

[2019-10-17 16:08] olafgrabienski opened #365 "Port of the Tocbot module"
There is a quite new Drupal 7 module called [Tocbot](https://www.drupal.org/project/tocbot). It provides a wrapper around the Tocbot library which builds an table of contents (TOC) with navigation links from HTML headings.

I like the module, and there is no Table-of-content-module for Backdrop so far. I'll try to port it to Backdrop.

Issue on drupal.org: https://www.drupal.org/project/tocbot/iss

[2019-10-17 17:59] alfabuster commented on #365
+1. It is very useful module for info web sites, with massive articles. I will wait for this module.

[2019-10-18 00:56] jenlampton commented on #329
https://github.com/backdrop-ops/contrib/issues/new/choose

[2019-10-18 00:56] #329 closed

[2019-10-18 19:17] kthull commented on #359
It's been a while...anything else I need to do on my end?

[2019-10-18 23:09] jenlampton commented on #359
@kthull we'll need you to agree to the https://github.com/backdrop-ops/contrib#backdrop-contributed-project-agreement (a written statement here that you do is sufficient).

I'll also check your contrib projects for the following...

ImageMagick - #358
- [ ] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [ ] Include a README.md file that includes license and maintainer infor

[2019-10-18 23:18] jenlampton commented on #364
Contrib project is up. For (personal) reference this took about 2 hours to port.

[2019-10-18 23:18] #364 closed

[2019-10-18 23:25] kthull commented on #359
@jenlampton I agree to the terms!

[2019-10-19 17:28] alfabuster commented on #365
Hi olafgrabienski, how is your progress with porting Tocbot module to backdrop cms?

[2019-10-19 20:05] olafgrabienski commented on #365
@alfabuster I haven't started so far but I hope I'll find some time next week.

[2019-10-19 22:16] klonos commented on #359
Thanks and welcome to the Backdrop Contrib group @kthull 🎉 🙂

. You've invited Kevin Thull to Backdrop CMS contributed projects! They'll be receiving an email shortly. They can also visit https://github.com/backdrop-contrib to accept the invitation.

[2019-10-19 22:18] klonos commented on #359
...you can now move the projects under https://github.com/orgs/backdrop-contrib and create releases for them when you think they're ready for public consumption 😉

See here for details on how to do that: https://github.com/backdrop-ops/contrib#what-to-do-after-your-application-is-accepted

[2019-10-19 22:19] #359 closed

[2019-10-21 16:50] olafgrabienski commented on #365
I've started the port but it's not ready to use. Any help is appreciated.

https://github.com/backdrop-contrib/tocbot

[2019-10-22 08:29] findlabnet commented on #365
I have working port of this module with some small fixes (I do not use Coder Upgrade):
https://github.com/findlabnet/tocbot
Only need to update README.md and tocbot.install for variables migration (haven't time for it at this time).
You can use anything from this repo, hope it help you to release.

[2019-10-22 11:21] olafgrabienski commented on #365
@findlabnet Thanks a lot, I'll have a look at your repo! May need some time, though.

For curiosity: Did you port from the [new 7.x-1.1 release](https://www.drupal.org/project/tocbot/releases/7.x-1.1)? It was released today.

[2019-10-22 11:46] findlabnet commented on #365
No, from 7.x-1.0, as marked in .info, with my small changes, for example you can disable CDN, library already within module.

[2019-10-22 18:57] bobchristenson opened #366 "Port of Views Selective Filters"
I'm attempting my first Drupal 7 module port for Views Selective Filters: https://www.drupal.org/project/views_selective_filters

I think I've got the baseline work done at: https://github.com/bobchristenson/views_selective_filters

But I'm not seeing a 'selective' filter showing up in Views.  I have a feeling something in the API may have changed (?).  Any direction or help is appreciated!

[2019-10-22 19:48] laryn commented on #366
@bobchristenson For inclusion in the contrib space, you will want to clone the Drupal project again and retain the commit history, then add your changes to a new commit.

[2019-10-22 19:53] laryn commented on #366
I've also found on some Views ports that the include file needs to be explicitly added. e.g.
https://github.com/backdrop-contrib/views_menu_children_filter/commit/3b8162803d2e0fa7d5292f5292b6ead9c0fc6f32

If that's the issue, you might try adding this line to your `.module`:

`module_load_include('inc', 'views_filters_selective', 'views_filters_selective.views');`

[2019-10-23 07:48] BWPanda opened #367 "Block Access module request"
I have a need for a Block Access module for Backdrop. In Drupal 7 I used [Block Access](https://www.drupal.org/project/block_access), but it's overly complicated and tedious. Either a new Backdrop-specific module, or a port of Block Access but simplified significantly would suffice.

The purpose is to allow certain roles to edit certain blocks. For example, you can give clients the ability to edit

[2019-10-23 17:00] bobchristenson commented on #366
Thanks, I'll fix this so it contains drupal history once I figure out how to get it working.

As far as the module_load_include...is that in addition to, or instead of, the new way of declaring files as shown in the drupal->backdrop module conversion docs?  There it says to do this:

function hook_autoload_info() {
  return array(
    'ClassName' => 'includes/whatever.inc',
  );
}

[2019-10-23 17:21] laryn commented on #366
I think your `hook_autoload_info` covers the class that is in `/includes/views_handler_filter_selective.inc` but the line I suggest is in addition to that to make sure `/views_filters_selective.views.inc` is loading.

[2019-10-23 20:00] bobchristenson commented on #366
Put in some changes, including the drupal history, into the new version.  Still can't seem to get it working, but I think @herbdool was able to..just not sure I have the same code he did https://github.com/bobchristenson/views_selective_filters

[2019-10-24 01:55] jenlampton commented on #297
@mrconnerton would you like to become a contrib group member and maintainer for views_field_view? If not, how would you feel about me forking your project and moving it into contrib? I promise to give you all the credit!

[2019-10-24 02:00] mrconnerton commented on #297
I would love to a contrib group member but I doubt I would have the time to
contrib much anytime soon. With that said, please absolutely fork the
project and move into contrib.

On Wed, Oct 23, 2019 at 9:55 PM Jen Lampton <notifications@github.com>
wrote:

[2019-10-24 02:33] jenlampton commented on #297
Maintainer application stuff:

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [ ] Include a README.md file that includes license and maintainer information.
- [ ] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0 (or in rare cases GPL-3.0)

@mrconnerton do you agree to the [Backdrop Contributed Project Agreement
](https://github.com/backdrop-op

[2019-10-24 02:45] jenlampton commented on #297
@mrconnerton if you can merge that PR we can tick off the two boxes above, and then you can transfer the project into the contrib group, without me needing to fork it :)

[2019-10-24 02:51] mrconnerton commented on #297
Great. I'm turning in but can tackle this in the morning.

On Wed, Oct 23, 2019, 10:45 PM Jen Lampton <notifications@github.com> wrote:

[2019-10-24 04:43] herbdool commented on #366
I downloaded your module fresh after you had recreated it and it worked for me so I believe we are using the same code.

[2019-10-24 12:58] bobchristenson commented on #366
@herbdool So to confirm, you've downloaded it from the new repository after I recreated it with the Drupal history?  Just making sure....

I tried that version and I didn't get a 'selective' filter available in Views when I tried to add a new filter.  I'll try again today, but I haven't any luck so far.

[2019-10-24 14:18] bobchristenson commented on #366
Sorry....I did indeed get this working.  A combo of caching and needing to reinstall I think...anyway, this seems to work!  So...what's the next step to getting this into contrib?  I guess I'll look at labeling this issue properly?

[2019-10-24 15:03] bobchristenson opened #368 "Contrib Group Application - Views Selective Filters"
Hiya!  Looking to become an official Backdrop contributor.  I run [Mustardseed Media](http://mustardseedmedia.com) full time and I'm currently in the transition for my clients from D7 over to Backdrop.  Apparently [I've been using Drupal (as Rob_Feature) for 13 years and 10 months](https://www.drupal.org/u/rob_feature).  I've tried to contribute there as much as possible, but my contributions come

[2019-10-24 15:03] laryn commented on #366
One other thing you could consider is posting in the issue queue for the Drupal module thanking them for the module, indicating you've ported it for Backdrop (including link to Github after it is transferred to contrib), and inviting the maintainer(s) to co-maintain the Backdrop version (if they would like to).

https://www.drupal.org/project/issues/views_selective_filters?categories=All

(As sugg

[2019-10-24 15:50] bobchristenson commented on #366
Great, thanks!

[2019-10-24 20:19] jenlampton commented on #356
I'm going to need this module too, I'd love to help with testing and feedback :) Thanks so much @OpsTao for working on it!

[2019-10-24 22:35] jenlampton commented on #150
##Roles

* The contrib group has 3 levels of global access: **Admin**, **Write**, **Read**, (and None)
* Repositories have 5 levels of access: **Admin**, **Maintain**, **Write**, **Triage**, **Read** (and None)

##Permissions

There are 3 teams that should have access to all repositories. Base permissions to all repositories apply to all members

* Base permissions - currently has/should have **Wr

[2019-10-24 23:42] jenlampton commented on #334
Yeah, all our teams are already public, yet none are visible to anyone who is not on github. I think the API might be our best bet.

See https://github.com/backdrop-ops/backdropcms.org/issues/591

[2019-10-24 23:42] #334 closed

[2019-10-25 03:04] jenlampton commented on #323
I've created pages on backdropcms.org for
* [the bug squad](https://backdropcms.org/leadership/bug-squad) and
* [the security team](https://backdropcms.org/leadership/security-team) and
* [abandoned projects](https://backdropcms.org/user-guide/adopt-project)

I'm hoping these pages will be easier to keep up to date here than in the readme, and hopefully the information will also be easier for peop

[2019-10-25 03:04] #323 closed

[2019-10-25 03:08] jenlampton opened #369 "Review & Revise issue templates"
There are issue templates for every reason we tell people to use the queue in the readme: https://github.com/backdrop-ops/contrib/issues/new/choose

Are these sufficient? Are the questions asked within helpful?

[2019-10-25 03:09] jenlampton commented on #284
That's what I tried first, but it didn't do the trick. :(

Anywho, we have issue templates now. There is one for every reason we tell people to use the queue in the readme: https://github.com/backdrop-ops/contrib/issues/new/choose

Seeking feedback in https://github.com/backdrop-ops/contrib/issues/369 :)

[2019-10-25 03:09] #284 closed

[2019-10-25 07:43] #136 closed

[2019-10-25 18:12] mrconnerton commented on #297
Sorry for the delay, I have merged the PR and I do agree to the Backdrop Contributed Project Agreement.

[2019-10-25 19:50] jenlampton commented on #297
- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0 (or in rare cases GPL-3.0)

Whoohoo!  Welcome to Backdrop contrib :)

Once you accept the invitation, you should be able to transfer views_field_view into the `back

[2019-10-29 04:44] jenlampton opened #370 "Porting "Aberdeen" theme for VUG tomorrow"
I've started a port of this theme, mostly for demonstration purposes, but I'll put the code into backdrop contrib incase anyone else needs it, or wants to see it as an example.

**Name of the module, theme, or layout you are working on**
Abderdeem (theme)

**Link to the drupal.org module, theme, or layout**
https://www.drupal.org/project/aberdeen

**Do you need assistance with this port?**
always,

[2019-10-29 05:16] jenlampton commented on #370
Here's the project
https://github.com/backdrop-contrib/aberdeen

[2019-10-29 07:51] stpaultim opened #371 "Porting BoilerPlate theme"
**Name of the module, theme, or layout you are working on**
Boilerplate theme

There was a request on Gitter to have this theme for Backdrop CMS, so I thought I would give it a try. I could use help.

**Link to the drupal.org module, theme, or layout**
https://www.drupal.org/project/boilerplate

**Do you need assistance with this port?**
Yes

https://github.com/backdrop-contrib/boilerplate

# Plea

[2019-10-29 07:56] stpaultim commented on #299
We now have flexible layouts in core. Should we close this issue.

(I see that I don't have permission to close it if I wanted to).

[2019-10-29 16:26] klonos commented on #368
Hello @bobchristenson and sorry for the late responce.

a) Huge fun; some of your videos have helped me during my first steps into Drupal-land, so your face and voice feels familiar, and b) it's really great to have you on-board 👍

For each application to join the Backdrop Contrib, we ask the following criteria to be met:

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.

[2019-10-29 17:34] #299 closed

[2019-10-29 17:48] laryn commented on #299
Is this already in another follow-up issue? (From @jenlampton's [comment above](https://github.com/backdrop-ops/contrib/issues/299#issuecomment-484636749))

[2019-10-29 18:17] jenlampton commented on #299
I think there might be a core issue on "mini-layouts" somewhere?

[2019-10-29 20:02] bobchristenson commented on #368
Yup, the contributed project agreement looks good...I agree!

A note that I tend to usually only maintain my own projects (private repos for my own clients) so I'll have a learning curve about how to maintain a more public module like this one.  I've never had to deal with pull requests, merges, etc....so I may need some mentoring on how to actually maintain, but I'm looking forward to learning a

[2019-10-29 20:07] bobchristenson commented on #368
Backdrop port message posted on d.o. https://www.drupal.org/project/views_selective_filters/issues/3090953

[2019-10-31 21:57] alanmels opened #372 "Request to join Backdrop Contributed Project Group"
I'de like to join Backdrop Contributed Project Group and start contributing extensions to Backdrop.

- I do agree to the Backdrop Contributed Project Agreement.

- Here is the link to the Drupal 7 project that I've just ported to Backdrop: https://github.com/altagrade/searchindex_wipe
- I don't have much contribution yet, just commits on https://github.com/backdrop-contrib/drop and suggestion on h

[2019-10-31 23:26] jenlampton commented on #372
Hi @alanmels and thanks for the application, it will be great to have you as part of Backdrop contrib!

Great, thank you!

Let's review our checklist:
- [ ] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0 (or in rare c

[2019-11-01 00:11] alanmels commented on #372
@jenlampton Thanks to your comment I've learned another useful thing today. Now I can see all previous contributors on https://github.com/altagrade/searchindex_wipe/graphs/contributors. Please review the module again.

[2019-11-01 00:18] jenlampton commented on #372
Great! Checking again...

- [x] If porting a Drupal project, Maintain the Git history from Drupal 7.
- [x] Include a README.md file that includes license and maintainer information.
- [x] Include a LICENSE.txt file that indicates the contributed code is GPL-2.0 (or in rare cases GPL-3.0)

That's everything! I'm going to send you an invite to Backdrop Contrib shortly. :)

One thing I often overlook

[2019-11-01 00:27] alanmels commented on #372
Done.

Thank you very much, @jenlampton!

[2019-11-01 01:12] alanmels commented on #372
Forgot to close this.

[2019-11-06 22:45] laryn commented on #353
I had started this at one point and ran stuck on some `ctools` related items, IIRC:

https://github.com/laryn/feeds_tamper

[2019-11-07 14:58] alanmels opened #373 "Please add me as a maintainer for Simplenews project"
Per the following explanation of @BWPanda on Gitter:

I am requesting to add myself as a maintainer for Simplenews project. However, if possible best course for me would be completely deleting the current project on https://github.com/backdrop-contrib/simplenews, because we started porting Simplenews not by forking the project on GitHub, but cloning it from 7.x version on Drupal.org. Code changes

[2019-11-07 19:43] herbdool commented on #373
If there's a way you can replace without deleting this that would be ideal. So long as the d7 git history remains.

[2019-11-07 20:05] BWPanda commented on #373
What about making a (large) PR to merge AltaGrade's repo into the contrib one...?

[2019-11-08 01:00] herbdool commented on #373
Yeah, might work

[2019-11-08 02:51] alanmels commented on #373
I could try. Should proceed creating such a PR or should I wait until this is decided? Will anyone add me as the maintainer or it doesn't matter if I just do PR and merge?

[2019-11-08 02:56] quicksketch commented on #373
@alanmels Sure that would be great. To follow protocol, also file a separate PR that just adds yourself to the README.md as a maintainer. The instructions include:

In lieu of the maintainer being present, a contrib maintainer will merge your PR instead.

[2019-11-08 04:46] #373 closed

[2019-11-08 08:06] VasasA commented on #347
Ported by @herbdool :
https://github.com/backdrop-contrib/chain_menu_access

[2019-11-08 08:10] VasasA commented on #346
Ported by @stpaultim :
https://github.com/backdrop-contrib/forum_access

[2019-11-08 13:02] alanmels commented on #373
And since I was added as a maintainer, I've proceeded to merging and creating a release for working version.

[2019-11-08 16:07] klonos commented on #368
Thanks @bobchristenson and sorry for the late response 😓 ...I hope that this delay has not been blocking you from doing further work.

Also thanks for filing that issue in the d.org queue 👍

Well, without further ado, officially welcome to the Backdrop Contrib group 🎉:

[2019-11-08 16:29] klonos commented on #368
Sure, we're here to help 🙂 ...the "" section here should be able to provide some guidance as to what the next steps are in order to move the project repo under https://github.com/backdrop-contrib, but if you have additional questions, feel free to ask away; I personally lurk around the Gitter chat 😉

Please see https://backdropcms.org/contribute/join/welcome for next steps (that page has recently

[2019-11-08 16:32] #368 closed

[2019-11-08 19:12] laryn opened #374 "Port request for Bean"
**Name of the module, theme, or layout**
Bean

**Link to the drupal.org module, theme, or layout**
https://www.drupal.org/project/bean

I haven't used this module but I think it could be a good one to port. Almost 35,000 sites have it installed and D8 core includes the ability to add fields to blocks.

[2019-11-08 23:08] VasasA commented on #349
Accordion Blocks module uses D7's Block module functions. There aren't these functions in Backdrop's Block module:
block_load()
_block_rehash()
_block_compare()

I couldn't port this module.

[2019-11-09 05:49] stpaultim commented on #346
I started the port, but it still needs lots of work. I got distracted, will try to find time to look at this but if anyone else has time to work on it I welcome the help. This was intended to be a learning project for me.

[2019-11-11 16:34] bobchristenson commented on #368
@klonos Hmm...I fear I did something wrong.  I'm stuck on the "update who gets access" step because after transferring the repository, I dont see a 'settings' tab at all: https://github.com/backdrop-contrib/views_selective_filters

Did things change or am I missing something?

[2019-11-14 19:19] BWPanda opened #375 "[IDEA] 'Neglected' module"
I just had an idea for a new module: 'Neglected'.

Neglected would tell you when there are modules enabled on your site that aren't being used. A report would be shown in the Reports section listing such modules, and a notification displayed on the Status page if such modules exist.

Here's a use-case:
You install the [Telephone](https://github.com/backdrop-contrib/telephone) module and add a Tele

[2019-11-14 20:57] jenlampton commented on #375
I love this idea, but I'm not sure about the name. "Neglected" sounds to me like the module suffering in some way, or hasn't been taken care of (pudding an undue pressure on maintiners, maybe?)

What about something like "underutilized"?

Naming things is hard...

[2019-11-14 20:59] jenlampton commented on #374
We have an equivalent solution in core (using Nodes as blocks w rabbit hole) but I think having Bean in contrib is important for anyone upgrading from Drupal 7!

[2019-11-15 17:14] BWPanda commented on #344
@jenlampton What do you think of this?

[2019-11-15 18:30] jenlampton commented on #344
I like the multiple template repositories idea :)

[2019-11-15 18:53] BWPanda commented on #344
@jenlampton Cool, sounds good! I'd be happy to do this if you like, though I'd need more access to the backdrop-ops group in order to create the new repos. Or can I set them up under my account, let you review them, and then transfer them to Backdrop?

[2019-11-15 21:57] jenlampton commented on #344
We can add you to backdrop-ops.

On Fri, Nov 15, 2019, 10:54 AM Peter Anderson <notifications@github.com>
wrote:

[2019-11-16 04:04] laryn commented on #374
Hmm.. Is there a way to add a new "Node as block" from the Layout/Block UI? Or do you need to create a node, then navigate through Layout/blocks/etc. and place it?

[2019-11-16 04:12] jenlampton commented on #374
If you mean for the "existing content"  block then yes, it needs to exist
first.

On Fri, Nov 15, 2019, 8:04 PM Laryn - CEDC.org <notifications@github.com>
wrote:

[2019-11-16 04:17] laryn commented on #374
I may not fully understand Bean, since I never have used it, but I'm envisioning a block that has custom fields on it. So from the Layouts page, we'd have an option for "Add a new X block" which allows you to fill out those custom fields. That's much more user-friendly than having to create a node of a specific type, then navigate to Layouts, try to find that block and add to a layout.

I suppose

[2019-11-17 16:47] jenlampton commented on #374
I think D7 adds the "create bean" link to the bock list page. I don't
recall there being anything to do with nodes. We should add that same link
to our block list page too, but you're right it would be a better
experience to create them on the fly. We may need to do something special
to get the bean form to appear in the "add block" modal.

On Fri, Nov 15, 2019, 8:17 PM Laryn - CEDC.org <notificat

[2019-11-19 00:16] jenlampton opened #376 "I'd like to start work on the d3 module"
**Name of the module, theme, or layout you are working on**
d3

**Link to the drupal.org module, theme, or layout**
https://www.drupal.org/project/d3

**(Optional) Link to the drupal.org issue where you notified the maintainer(s) of this port**
https://www.drupal.org/project/d3/issues/2695331

**Do you need assistance with this port?**
Would love it :)